extends layout.pug

block content

  .inner.grid.grid--container
    .inner__block
      .big-offset
      .row
        .col.col--sm-6.col--sm-offset-3
          .h1.small-offset 404 страница не найдена
          p Неправильно набран адрес или такой страницы на сайте не существует.
            br
            | Вернитесь на 
            a(href="").link главную
            |  или воспользуйтесь 
            a(href="").link картой сайта 
            | .

