extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link.breadcrumbs__link--active Клуб «Газпром на Кубани»


  .inner.grid.grid--container
    .inner__block
      h1.h1 Клуб «Газпром на Кубани»
      p Корпоративная ассоциация (Клуб) «Газпром на Кубани» - некоммерческое партнерское объединение предприятий ОАО «Газпром», работающих на территории Краснодарского края.
      p Создана в декабре 2004 года. Участниками ассоциации являются крупнейшие дочерние компании «Газпрома»: ООО «Газпром трансгаз Краснодар», ООО «Газпром добыча Краснодар», ООО «Газпром межрегионгаз Краснодар», ОАО «Краснодаркрайгаз», филиал «Краснодар бурение» ООО «Газпром бурение», филиал ОАО «Газпромбанк» в г. Краснодаре, Краснодарский филиал ОАО «СОГАЗ» и другие.
      p В общей сложности на Кубани осуществляет деятельность более 30 предприятий системы «Газпром». Корпоративная ассоциация представляет интересы более 50 тысяч жителей Кубани - газовиков и членов их семей.
      p Главная цель корпоративной ассоциации «Газпром на Кубани» - формирование целостной системы внутрикорпоративных отношений, направленной на отстаивание общих интересов во внешней среде, и урегулирование вопросов внутри ассоциации.
      span
        span Сайт ассоциации — 
        .special-link
          a(href="").special-link__link ОАО «Газпром»
          .special-link__icon
