extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Тендеры
        a(href="").breadcrumbs__link.breadcrumbs__link--active Годовой план

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li
            a(href="").sidebar__link.sidebar__link--active Тендеры
            ul
              li: a(href="").sidebar__link Положение о закупочной деятельности
              li: a(href="").sidebar__link.sidebar__link--active Годовой план
              li: a(href="").sidebar__link Закупки
              li: a(href="").sidebar__link Отчеты
              li: a(href="").sidebar__link Архив
          li: a(href="").sidebar__link Реализация газа
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Годовой план
        .link-block
          a(href="").link-block__link.link-block__link--active 2017
          a(href="").link-block__link 2016
          a(href="").link-block__link 2015
          a(href="").link-block__link 2014
          a(href="").link-block__link 2013
          a(href="").link-block__link 2012
        .row
          .col.col--sm-6
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.2
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.4
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.6
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.8
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.10
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.12
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.14
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.16
                .file__size (PDF, 774 КБ)
          .col.col--sm-6
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.1
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.3
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.5
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.7
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.9
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.11
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.13
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name План закупок ООО "Газпром межрегионгаз Краснодар" 2017 г изм.15
                .file__size (PDF, 774 КБ)


