extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Газификация
        a(href="").breadcrumbs__link.breadcrumbs__link--active Газификация населенных пунктов

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li: a(href="").sidebar__link Реализация газа
          li
            a(href="").sidebar__link.sidebar__link--active Газификация
            ul
              li: a(href="").sidebar__link.sidebar__link--active Газификация населенных пунктов
      .inner__block.col.col--md-8
        h1.h1 Газификация населенных пунктов
        .inner__img
          img(src="./img/company-gasification-3.jpg", alt="")
        p Прежде всего, обратите внимание, что все вопросы по газификации улицы, микрорайона, населённого пункта жители в первую очередь должны решать с местной администрацией.
        p Администрация определяет источники финансирования (в том числе и финансовую нагрузку, которая ложиться на население), выбирает подрядчика для строительства газопровода и контролирует (!) его работу. Далее, администрация подаёт списки хозяев газифицируемых домовладений или квартир газораспределительной организации (ГРО).
        p ГРО (как правило, это гор-, райгаз) осуществляют техническое обслуживание газовых сетей конкретного населённого пункта, микрорайона, улицы.
        p Далее абоненты заключают договоры на обслуживание внутридомового газового оборудования (ВДГО) с ГРО.
        p Затем ООО «Газпром межрегионгаз Краснодар» заключает с жителями договоры поставки газа и выдает абонентскую книжку для последующей оплаты топлива. После заключения договоров на обслуживание ВДГО и поставки газа абоненты обращаются в ту организацию, с которой заключён договор техобслуживания, предъявляют договор поставки газа и просят обеспечить подачу топлива.
        p Все абоненты ООО «Газпром межрегионгаз Краснодар» бесперебойно получают природный газ, при условии выполнения обязательств по платежам.
        p Рекомендуем придерживаться порядка действий во избежание проблемных ситуаций.
        p К примеру, жители одной из станиц собрали деньги и заплатили подрядчику за подведение газовой трубы. Подрядчики выполнили все необходимые работы, но поставщика газа - ООО «Газпром межрегионгаз Краснодар»  никто не уведомил, в планах на увеличение объёмов газа, как вновь газифицированный объект станица не значилась. И объёмы газа выделены не были.
        p Изначально нужно согласовать увеличение объёмов газа с поставщиком в текущем году на следующий, а только потом заниматься строительством газопровода, поскольку весь природный газ, поставляемый в край, распределён согласно договорам поставки.





        