extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link.breadcrumbs__link--active Тендеры

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li
            a(href="").sidebar__link.sidebar__link--active Тендеры
            ul
              li: a(href="").sidebar__link Положение о закупочной деятельности
              li: a(href="").sidebar__link Годовой план
              li: a(href="").sidebar__link Закупки
              li: a(href="").sidebar__link Отчеты
              li: a(href="").sidebar__link.sidebar__link--active Архив
          li: a(href="").sidebar__link Реализация газа
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Архив
        .link-block
          a(href="").link-block__link.link-block__link--active 2017
          a(href="").link-block__link 2016
          a(href="").link-block__link 2015
          a(href="").link-block__link 2014
          a(href="").link-block__link 2013
          a(href="").link-block__link 2012
        h3.h3 Конкурсы
        h3.h3 Результаты
        p Организатор конкурса извещением, опубликованным на официальных Интернет-сайтах ООО　«Краснодаррегионгаз» и ООО «Межрегионгаз» 09 ноября 2009 года, объявил о проведении открытого конкурса №42РК01Р-2009СИП/0911-01к, предметом которого является: право на заключение договора на выполнение работ по строительству административного здания в Динском районе Краснодарского края для нужд ООО «Краснодаррегионгаз».
        p Вскрытие конвертов с конкурсными заявками состоялось 11.12.2009 по адресу Организатора конкурса: 350000, Россия, Краснодарский край, г. Краснодар, ул. Ленина, д.40/1, 9 этаж, конференц-зал.
        p Конкурс №42РК01Р-2009СИП/0911-01к признан несостоявшимся, так как в соответствии с Решением Конкурсной комиссии ООО «Краснодаррегионгаз» (Протокол от 29.12.2009 №1) отказано в допуске для дальнейшего участия в данном конкурсе всем участникам размещения заказа представившим свои конкурсные заявки.
        p Ответственный секретарь конкурсной комиссии ООО «Краснодаррегионгаз»
          br
          | А.С. Ковалевская









