extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Реализация газа
        a(href="").breadcrumbs__link.breadcrumbs__link--active Автоматизированная система коммерческого учета газа

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li
            a(href="").sidebar__link.sidebar__link--active Реализация газа
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li: a(href="").sidebar__link Порядок заключения договоров
              li: a(href="").sidebar__link Порядок ограничения и поставок газа
              li: a(href="").sidebar__link.sidebar__link--active Автоматизированная система коммерческого учета газа
              li: a(href="").sidebar__link Перечень кредитных организаций
              li: a(href="").sidebar__link Согласование расчетных объемов поставки газа
              li: a(href="").sidebar__link Возрат денежных средств
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Автоматизированная система коммерческого учета газа
        p В целях повышения точности учёта газа, потребляемого промышленными предприятиями в Краснодарском крае внедрена автоматизированная система коммерческого учёта газа (АСКУГ).
        p АСКУГ как целостная современная информационная система, обеспечивает оперативный контроль и управление процессами транспортировки и распределения потребителям природного газа, в том числе: совершенствование средств измерения и учёта на ГРС газотранспортных организаций и создание полноценной системы измерения расхода газа транспортируемого по газораспределительным сетям.
        p АСКУГ предназначена для решения следующих задач:
        ul
          li: span Автоматизированный коммерческий учёт объёмов и параметров газа, поставляемого потребителям Краснодарского края, на основе применения современных измерительных комплексов, систем телемеханики, систем диспетчерского контроля;
          li: span контроль расхода газа в «режиме реального времени» и обеспечение локализации причин разбалансов газа (потерь, утечек, несанкционированного отбора газа);
          li: span контроль основных режимно-технологических параметров газоснабжения и газопотребления, определённых договорами и техническими соглашениями в процессе поставки газа;
          li: span формирование заданий на управление (телеуправление арматурой, регулирующей поставку газа потребителю);
          li: span Интеграция данных, поступающих из различных источников, в единое информационно-технологическое пространство;
          li: span прогнозирование объемов газопотребления с учётом сезонной неравномерности поставок газа и измерений температуры окружающего воздуха;
          li: span генерация предупредительной сигнализации о нарушении режимов потребления газа, о нештатной работе оборудования УУГ и о несанкционированном вмешательстве в работу оборудования УУГ;
          li: span формирование отчетных сводных документов по поставкам газа и учётных документов по договорам поставки газа потребителям региона.

        p АСКУГ автоматизирует процессы, выполняемые подразделениями региональной газовой компании, связанные с учетом объемов потребленного газа.
        p Реализация данной концепции построения автоматизированной системы коммерческого учёта газа, строительство измерительных комплексов учёта газа их реконструкция и модернизация позволит существенным образом повысить уровень контроля объёмов поставок газа от ГРС до газопотребляющего оборудования потребителя, изменит формы и методы взаимоотношений между Поставщиком и потребителем газа, приведёт в соответствие объёмы газопотребления и газораспределения региона.






