extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Реализация газа
        a(href="").breadcrumbs__link Порядок заключения договоров
        a(href="").breadcrumbs__link.breadcrumbs__link--active Законодательная база

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li
            a(href="").sidebar__link.sidebar__link--active Реализация газа
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li
                a(href="").sidebar__link.sidebar__link--active Порядок заключения договоров
                ul
                  li: a(href="").sidebar__link Образцы документов
                  li: a(href="").sidebar__link.sidebar__link--active Законодательная база
              li: a(href="").sidebar__link Порядок ограничения и поставок газа
              li: a(href="").sidebar__link Автоматизированная система коммерческого учета газа
              li: a(href="").sidebar__link Перечень кредитных организаций
              li: a(href="").sidebar__link Согласование расчетных объемов поставки газа
              li: a(href="").sidebar__link Возрат денежных средств
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Законодательная база
        p Федеральный закон от 31 марта 1999 года № 69-ФЗ «О газоснабжении в Российской Федерации»;
        p Постановление Правительства РФ от 5 февраля 1998 г. №162 «Об утверждении правил поставки газа в Российской Федерации»;
        p Постановление Правительства РФ от 29 декабря 2000 г. №1021 «О государственном регулировании цен на газ и тарифов на услуги по его транспортировке на территории Российской Федерации»;
        p Правила пользования газом и предоставления услуг по газоснабжению в Российской Федерации (утв. постановлением Правительства РФ от 17 мая 2002 г. №317);
        p Постановление Правительства РФ от 30 декабря 2013 г. №1314 "Об утверждении Правил подключения (технологического присоединения) объектов капитального строительства к сетям газораспределения, а также об изменении и признании утратившими силу некоторых актов Правительства Российской Федерации".
        



