extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link.breadcrumbs__link--active Юридическим лицам

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li: a(href="").sidebar__link Реализация газа
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Юридическим лицам
        p В связи с вступлением в силу постановления 
          span.text-primary Правительства РФ от 08.08.2013г. №679 «Об изменении и о признании утратившими силу некоторых актов Правительства Российской Федерации по вопросам газоснабжения»
          | , начиная с 17.08.2013 года утратил силу Порядок установления вида топлива для предприятий и топливопотребляющих установок, утвержденный постановлением Правительства РФ от 29 октября 1992 г. №832.
        p Рассмотрение вопросов газификации и присоединения к газораспределительным сетям перспективных газопотребляющих объектов производится соответствующими газораспределительными организациями, осуществляющими эксплуатацию сетей инженерно-технического обеспечения, в порядке, установленном 
          span.text-primary Постановлением Правительства РФ №83 от 13.02.2006 года с изменениями, утвержденными Постановлением Правительства РФ № 845 от 23.08.2014 г., и Постановлением Правительства РФ № 1314 от 30.12.2013 г.
        .row
          .col.col--sm-6
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name Постановление №679 «Об изменении и о признании утратившими силу некоторых актов Правительста Российской Федерации по вопросам газоснабжения»
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name Постановление Правительства РФ № 1314 от 30.12.2013 г.
                .file__size (PDF, 774 КБ)
          .col.col--sm-6
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name Постановление №83 с изменениями, утвержденными Постановлением Правительства РФ № 845 от 23.08.2014 г.
                .file__size (PDF, 774 КБ)

