extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Реализация газа
        a(href="").breadcrumbs__link.breadcrumbs__link--active Порядок ограничения поставок газа

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li
            a(href="").sidebar__link.sidebar__link--active Реализация газа
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li: a(href="").sidebar__link Порядок заключения договоров
              li: a(href="").sidebar__link.sidebar__link--active Порядок ограничения и поставок газа
              li: a(href="").sidebar__link Автоматизированная система коммерческого учета газа
              li: a(href="").sidebar__link Перечень кредитных организаций
              li: a(href="").sidebar__link Согласование расчетных объемов поставки газа
              li: a(href="").sidebar__link Возрат денежных средств
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Порядок ограничения поставок газа
        p При неоплате организацией — потребителем поданных ей объемов газа за один период платежа, установленный договором, Поставщик письменно предупреждает организацию-потребителя, органы местного самоуправления, газораспределительную организацию, прокуратуру на местном уровне, что в случае неуплаты задолженности до истечения второго периода платежа подача газа может быть ограничена (прекращена). Информация о намечаемом проведении ограничения (прекращения) подачи газа потребителю направляется также органам исполнительной власти и органам федерального и краевого уровней (Минэнерго РФ, Северо-Кавказское Управление Федеральной службы по экологическому, технологическому и атомному надзору и Министерство промышленности и энергетики Краснодарского края).
        p Если по истечении пяти дней со дня введения ограничения подачи газа потребителем не будет погашена образовавшаяся задолженность, то Поставщик полностью прекращает поставку газа потребителю. Возобновление поставки газа Покупателю возможно только после выполнения всех договорных условий по оплате, включая оплату расходов ООО «Газпром межрегионгаз Краснодар» связанных с проведением работ по ограничению (отключению) и возобновлению газоподачи, а также погашение задолженности по действующим судебным актам если таковые имеются.
        p Режим ввода ограничения (прекращения) поставки газа не применяется к Покупателям, полностью погасившим задолженность до момента проведения работ.
        



