extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Реализация газа
        a(href="").breadcrumbs__link.breadcrumbs__link--active Порядок заключения договоров

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li
            a(href="").sidebar__link.sidebar__link--active Реализация газа
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li
                a(href="").sidebar__link.sidebar__link--active Порядок заключения договоров
                ul
                  li: a(href="").sidebar__link Образцы документов
                  li: a(href="").sidebar__link Законодательная база
              li: a(href="").sidebar__link Порядок ограничения и поставок газа
              li: a(href="").sidebar__link Автоматизированная система коммерческого учета газа
              li: a(href="").sidebar__link Перечень кредитных организаций
              li: a(href="").sidebar__link Согласование расчетных объемов поставки газа
              li: a(href="").sidebar__link Возрат денежных средств
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Порядок заключения договоров
        p Перечень документов, необходимых для оформления, переоформления, прекращения договорных отношений. Последовательность действий.
        p Первоначальная информационно-разъяснительная работа с действующими и потенциальными потребителями газа по вопросам газоснабжения, заключения договоров поставки газа, поставки дополнительных объемов и т.д. проводится обособленными структурными подразделениями Общества в городах и районах Краснодарского края.
        h3.h3 Заявления
        ol
          li
            span Заявления, необходимые для оформления договорных отношений:
            ul
              li: span заявка на приобретение газа с помесячной разбивкой объема газопотребления, оформленная по установленной форме с приложениями;
          li
            span Заявления, необходимые для переоформления договорных отношений:
            ul
              li: span заявление на перезаключение либо расторжение договора поставки газа от прежнего участника договорных отношений (Формы № 1 и № 2) (подраздел «Образцы документов»);
              li: span заявка на приобретение газа с помесячной разбивкой объема газопотребления, оформленная по установленной форме с приложениями (подраздел «Образцы документов»).
          i Допускается оформление единого заявления от прежнего участника договорных отношений и нового владельца газоиспользующего оборудования (Форма № 3).
          li
            span Заявления, необходимые для прекращения договорных отношений:
            ul
              li: span заявление на расторжение договора поставки газа (Форма № 2 (подраздел «Образцы документов»)).
          li
            span Заявления, необходимые для исключения из договора газоиспользующего объекта:
            ul
              li: span заявление на расторжение договора поставки газа (Форма № 2 (подраздел «Образцы документов»)).

        h3.h3 Приложения к заявке на приобретение газа
        ol
          li: span В случае оформления заявки, предусматривающей поставку газа на два и более газоиспользующих объекта - дополнительно оформляется приложение к заявке на заключение договора поставки газа о распределении заявляемого объема по газоиспользующим объектам (Приложение № 1 к заявке (подраздел «Образцы документов»));
          li: span Заверенная обособленным структурным подразделением Общества копия акта о подключении (технологическом присоединении) или акта о присоединении объекта к газораспределительным сетям, по которым может осуществляться подача газа заявителю, или акта о готовности сетей газопотребления и газоиспользующего оборудования объекта капитального строительства к подключению (технологическому присоединению).
          i Если подключение (технологическое присоединение) указанного объекта осуществлено до вступления в силу постановления Правительства Российской Федерации от 13 февраля 2006 г. № 83 "Об утверждении Правил определения и предоставления технических условий подключения объекта капитального строительства к сетям инженерно-технического обеспечения и Правил подключения объекта капитального строительства к сетям инженерно-технического обеспечения", то предоставляется справка, выдаваемая ГРО о выполнении технических условий и подтверждении готовности объекта к приему газа, выполненная по форме Приложения №2 к заявке (подраздел «Образцы документов»).
          li: span Краткая информация о субъекте хозяйственной деятельности (Приложение № 3 к заявке (подраздел «Образцы документов»));
          li: span Заявления о согласии на обработку персональных данных и ознакомлении с условиями поставки газа (Приложение № 4 к заявке (подраздел «Образцы документов»)) - предоставляют физические лица;
          li: span Заявление об отсутствии с Обществом взаимозависимости (Приложение № 5 (подраздел «Образцы документов»)) - предоставляют юридические лица.
          li: span Гарантийные письма (для казенных учреждений - от распорядителей бюджетных средств (Приложение № 6 к заявке (подраздел «Образцы документов»)) бюджетных, автономных учреждений (Приложение № 7 к заявке (подраздел «Образцы документов») - от руководителей организаций) - предоставляют организации, финансируемые за счет бюджетных средств);
        h3.h3 Учредительные, правоустанавливающие и прочие документы, предоставляемые при оформлении, переоформлении, либо добавлении точки подключения.
        ul
          li: span устава (положения), все листы которого прошиты, пронумерованы и скреплены печатью - предоставляют юридические лица и их филиалы;
          li: span положения о филиале - предоставляют филиалы юридических лиц;
          li: span свидетельства о постановке на учёт в налоговом органе - предоставляют юридические, физические лица, индивидуальные предприниматели;
          li: span уведомления о постановке на налоговый учет филиала - предоставляют филиалы юридических лиц;
          li: span свидетельства о государственной регистрации в Едином государственном реестре юридических лиц или в качестве индивидуального предпринимателя - предоставляют юридические лица и индивидуальные предприниматели;
          li: span выписки из Единого государственного реестра юридических лиц (индивидуальных предпринимателей), не старше 30 дней - предоставляют юридические лица, филиалы юридических лиц, индивидуальные предприниматели;
          li: span заявление об отсутствии с ООО «Газпром межрегионгаз Краснодар» взаимозависимости - предоставляют юридические лица;
          li: span уведомления Территориального органа Федеральной службы государственной статистики о присвоении кодов юридическому лицу, филиалу, индивидуальному предпринимателю - предоставляют юридические лица, филиалы юридических лиц, индивидуальные предприниматели;
          li: span заявление об отсутствии с ООО «Газпром межрегионгаз Краснодар» взаимозависимости - предоставляют юридические лица;
          li: span уведомления Территориального органа Федеральной службы государственной статистики о присвоении кодов юридическому лицу, филиалу, индивидуальному предпринимателю - предоставляют юридические лица, филиалы юридических лиц, индивидуальные предприниматели;
          li: span документов, подтверждающих принадлежность газоиспользующего оборудования (объектов газоснабжения) заявителю на праве собственности или на ином законном основании, и технических паспортов на указанное оборудование (свидетельство на право собственности, договор купли-продажи (дарения, хозяйственного ведения и т.д.), технический паспорт на объекта газоснабжения, акт ввода объекта газоснабжения в эксплуатацию; разрешение на строительство);
          li: span согласованного с ООО «Газпром межрегионгаз Краснодар» проекта на газоснабжение в части учёта расхода газа;
          li: span разрешения на использование природного газа в качестве топлива (если оформлялось);
          li: span справки о технической готовности резервного топливного хозяйства (РТХ), выданная Федеральной службой по экологическому, технологическому и атомному надзору - Ростехнадзором (если необходимость ведения РТХ предусмотрена действующим законодательством Российской Федерации);
          li: span акта об установлении границы балансовой принадлежности и эксплуатационной ответственности наружного распределительного газопровода, оформленный с сопредельным владельцем газопровода;
          li: span документов, подтверждающих полномочия лица, выступающего от имени заявителя (приказ о назначении на должность, доверенность);
          li: span паспорта гражданина - предоставляют физические лица и индивидуальные предприниматели;
          li: span разрешения, выдаваемого органом государственного надзора, по результатам обследования готовности к приему газа вновь вводимого /реконструированного /модернизированного газоиспользующего оборудования. Предоставляют потребители, газоиспользующее оборудование которых попадает под действие Правил пользования газом, утвержденных Постановлением Правительства от 17.05.2002 №317 (расход газа более 1 м3/час, суммарная расчетная мощность газоиспользующего оборудования более 100 кВт).
          li: span технических условий на присоединении объекта к газораспределительным сетям;
          li: span договора на техническое обслуживание установленного газопотребляющего оборудования, либо лицензии на эксплуатацию взрывопожароопасных производственных объектов.

          li
            span Копии дополнительных документов, предоставляемых заявителями, относящимися к категории "населения" (ТСЖ, ЖСК, УК и т.п.) в соответствии Постановлением Правительства РФ от 29 декабря 2000 г. № 1021 "О государственном регулировании цен на газ и тарифов на услуги по его транспортировке на территории Российской Федерации (с изменениями и дополнениями) [за исключением физических лиц (граждан) - собственников (нанимателей) жилых помещений]:
            ul
              li
                span документов, подтверждающих наличие у исполнителя обязанности предоставлять соответствующую коммунальную услугу потребителям, пользующимся помещениями в многоквартирном доме (жилым домом);
                p Для упраляющих организаций:
                ul
                  li: span действующая лицензия на осуществление регулируемого вида деятельности по управлению жилым фондом;
                  li: span если собственниками помещений в многоквартирном доме в качестве способа управления выбрано управление управляющей организацией - протокол общего собрания собственников помещений в многоквартирном доме, на котором принято решение о выборе в качестве способа управления многоквартирным домом управление управляющей организацией, и протокол общего собрания собственников помещений в многоквартирном доме, на котором принято решение о выборе управляющей организации в лице той управляющей организации, которая обращается с заявкой (офертой), а также договор управления многоквартирным домом (если таковой заключен);
                  li: span если управляющая организация выбрана по конкурсу органом местного самоуправления в случаях, предусмотренных жилищным законодательством Российской Федерации, - протокол открытого конкурса по выбору управляющей организации и (или) договор управления многоквартирным домом (если таковой заключен);
                  li: span если управляющая организация привлечена для управления многоквартирным домом товариществом или кооперативом, - протокол общего собрания собственников помещений в многоквартирном доме, на котором принято решение о выборе управляющей организации, и (или) договор управления многоквартирным домом, заключенный между товариществом или кооперативом и управляющей организацией;
                  p Для товариществ или кооперативов:
                  li: span протокол общего собрания собственников помещений в многоквартирном доме, в котором создано товарищество, или протокол общего собрания членов кооператива, в которых зафиксировано (отражено) решение о выборе в качестве способа управления многоквартирным домом управление соответственно товариществом или кооперативом.
          li: span Документов об установке и приеме в эксплуатацию коллективного (общедомового) прибора учета (при наличии такого прибора учета).
          li: span Протокола общего собрания собственников помещений в многоквартирном доме, на котором принято решение о внесении собственниками и пользователями помещений в многоквартирном доме платы за все или некоторые коммунальные услуги непосредственно ресурсоснабжающим организациям (если такое решение принято);
          li: span Документов, содержащих сведения о размере площади каждого жилого и нежилого помещения в многоквартирном доме, а также об общей площади помещений в многоквартирном доме, включая помещения, входящие в состав общего имущества в многоквартирном доме, или о размере площади жилого дома и отапливаемых помещений надворных построек, а также размере площади земельного участка, не занятого жилым домом и надворными постройками.
        
        p Данные документы предоставляются в соответствии с Постановлением Правительства РФ от 14 февраля 2012 г. № 124 "О правилах, обязательных при заключении договоров снабжения коммунальными ресурсами для целей оказания коммунальных услуг".
        p Для оформления договора на поставку газа заявителями предоставляются копии документов, заверенные следующим образом:
        ul
          li: span копии документов юридических лиц заверяют руководители организаций или иные правомочные лица с обязательным скреплением подписи печатями организаций;
          li: span индивидуальные предприниматели заверяют документы самостоятельно со скреплением подписью и печатью (при наличии);
          li: span Физические лица заверяют документы самостоятельно.
        p При этом ООО "Газпром межрегионгаз Краснодар" оставляет за собой право потребовать предоставление нотариально заверенных копий документов в целях проверки правовых оснований эксплуатации газоиспользующего оборудования.
        p Подготовленный пакет документов для оформления (переоформления) договора передается заявителем на территориальное обособленное структурное подразделение Общества в городе (районе) по местонахождению газифицируемых объектов (далее - Участок). На Участке осуществляется проверка пакета документов на соответствие установленным требованиям, о чем в заявлении на заключение (перезаключение) договора ставится отметка начальника Участка. Дальнейшее согласование пакета документов в головном офисе ООО "Газпром межрегионгаз Краснодар" осуществляется представителями Участка.


