extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link.breadcrumbs__link--active Газификация

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li: a(href="").sidebar__link Реализация газа
          li: a(href="").sidebar__link.sidebar__link--active Газификация
      .inner__block.col.col--md-8
        h1.h1 Газификация
        h3.h3 Программа газификации регионов РФ
        .inner__img
          img(src="./img/company-gasification-gaisfication.jpg", alt="")
        p Это наиболее масштабный социальный проект ОАО «Газпром».  Начиная с 2001 года в «Газпроме» утверждаются программы газификации регионов. Газификация регионов России осуществляется совместно «Газпромом» и властями субъектов Федерации. При этом компания финансирует строительство межпоселковых газопроводов, то есть доведение газа до населенных пунктов, а региональные власти отвечают за прокладку уличных сетей и подготовку потребителей к приему газа.
        p По соглашению между администрацией Краснодарского края и ОАО «Газпром» за счет средств газовой компании в крае с 2001 года построено и введено в эксплуатацию более 73 газопроводов, общая сумма инвестиций превысила 7,7 млрд. руб. Газифицировано более 80 населенных пунктов в 27 районах края.
        p Для обеспечения эффективной реализации программы газификации «Газпром» и правительства субъектов Федерации заключают соглашения о сотрудничестве и договора о газификации. Перечень работ и сроки их завершения, как со стороны компании, так и руководства регионов, ежегодно фиксируются в графиках синхронизации строительства объектов газификации, призванных обеспечить подключение потребителей сразу по завершению «Газпромом» прокладки межпоселковых газопроводов.
        p При определении регионов, в которых «Газпром» планирует развернуть работы по газификации, учитывается несколько факторов:
        ul
          li: span уровень газификации региона;
          li: span возможность региона взять на себя часть расходов по газификации;
          li: span задолженность по оплате текущих поставок газа;
          li: span отсутствие несогласованных с «Газпромом» превышений установленных лимитов потребления газа.
        p В 2005 году ОАО «Газпром» значительно активизировал работы в сфере повышения уровня газификации российских регионов. Со стороны  компании на строительство межпоселковых газопроводов с 2005 по 2008 год было направлено более 72 млрд рублей. На эти средства было построено 696 межпоселковых газопроводов протяженностью более 11000 км.
        p За четыре года уровень газификации был повышен до 62% в среднем по России, в том числе в городах на 6% до 67%, в сельской местности на 8% до 44%.
        p В 2009 году «Газпром» направил на газификацию 69 регионов России 19,31 млрд рублей. Было завершено строительство 189 межпоселковых газопроводов общей протяженностью 3,2 тыс. км, которые позволят обеспечить газоснабжение 447 населенных пунктов в 45 регионах Российской Федерации.
        p Программа газификации регионов Российской Федерации на 2010 год предусматривала инвестиции «Газпрома» в размере 25 млрд руб. Средства были направлены на строительство объектов газификации, проектно-изыскательские работы, разработку генеральных схем газоснабжения и газификации.
        p Кроме того, «Газпром» дополнительно выделил 612 млн руб. и осуществил ввод в эксплуатацию 18 межпоселковых газопроводов в субъектах РФ, пострадавших от лесных пожаров. Таким образом, общий объем инвестиций, выделенных «Газпромом» в рамках Программы газификации регионов РФ на 2010 год, составил 25,612 млрд руб.
        .inner__img
          img(src="./img/company-gasification-gasification-2.jpg", alt="")
        p Краснодарский край в 2010 году составил 3 млрд. руб. Согласно плану-графику синхронизации выполнения программ газификации регионов, подписанному Председателем Правления ОАО «Газпром» А.Б. Миллером и главой администрации Краснодарского края А.Н. Ткачевым, в 2010 году в крае велись работы по строительству шести газопроводов в районе г.Новороссийск, Сочи и проектированию еще шести газопроводов в Динском и Туапсинском районах, г-к.Геленджик, г.Краснодаре.
        p Исключительно важным направлением является газификация черноморского побережья и горноклиматического курорта в г. Сочи. Согласно утвержденной Правительством РФ Программе строительства олимпийских объектов и развития г. Сочи как горноклиматического курорта, ведется работа по газификации олимпийских объеков и населенных пунктов Адлерского района, так же включенным в план-график синхронизации.
        p В декабре 2009 года была утверждена новая редакция Концепции участия компании в газификации регионов РФ. Она подразумевает дифференцированный подход к газификации с учетом наличия в регионах запасов природного газа и развития имеющихся месторождений, а также с учетом использования альтернативных энергоносителей, включая сжиженный и компримированный природный газ (СПГ и КПГ), сжиженный углеводородный газ (СУГ).
        p Концепция разделяет регионы на три группы в зависимости от уровня развития газовой инфраструктуры и предполагает трехлетнее планирование газификации каждого региона, а также вводит новые нормы безопасности. Уделяется отдельное внимание газификации малонаселенных и удаленных от магистральных газопроводов населенных пунктов, что особенно важно для сельской местности.




