extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Реализация газа
        a(href="").breadcrumbs__link.breadcrumbs__link--active Согласование расчетных объемов поставки газа

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li
            a(href="").sidebar__link.sidebar__link--active Реализация газа
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li: a(href="").sidebar__link Порядок заключения договоров
              li: a(href="").sidebar__link Порядок ограничения и поставок газа
              li: a(href="").sidebar__link Автоматизированная система коммерческого учета газа
              li: a(href="").sidebar__link Перечень кредитных организаций
              li: a(href="").sidebar__link.sidebar__link--active Согласование расчетных объемов поставки газа
              li: a(href="").sidebar__link Возрат денежных средств
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Согласование расчетных объемов поставки газа
        .link-block
          a(href="").link-block__link.link-block__link--active 2016
          a(href="").link-block__link 2015
        p В настоящее время ООО «Газпром межрегионгаз Краснодар» проводит работу по подготовке к согласованию в ООО «Газпром межрегионгаз» расчетных объемов поставки газа на 2016 год для бюджетных потребителей и организаций коммунального комплекса.
        p В соответствии с требованиями ООО «Газпром межрегионгаз» для включения предприятия в реестр организаций коммунального комплекса по Краснодарскому краю на 2016 год, необходимо представить заявку на необходимый объём газа в 2016 году для нужд теплоснабжения (Образец - Форма №1) и ксерокопии нижеперечисленных документов, заверенные печатью организации:
        ol
          li: span Форм статистического наблюдения 22-ЖКХ и 1-ТЕП, утвержденных Постановлением Росстата (с отметкой Территориального органа Федеральной службы государственной статистики) на 2014 год
          li: span Информационного письма Территориального органа Федеральной службы государственной статистики по Краснодарскому краю (района, города) с указанием основного ОКВЭДа организации.
          li: span Письма РЭК департамента цен и тарифов Краснодарского края «О структуре полезного отпуска тепловой энергии» на 2015 год.
          li: span Формы № 2 за 2014 г. (отчет о прибылях и убытках).
          li: span Подтверждение об исполнении технических условий, выданное уполномоченной организацией (ГРО и/или Трансгаз) по каждому объекту газопотребления (только для объектов вновь газифицированных, либо принятых на законных основаниях в эксплуатацию в 2014-2015 г.г., а также планирующих газификацию в 2015-2016 г.г.).
          li: span Договора на отпуск тепловой энергии и расчет объемов газа,необходимых для выработки тепловой энергии (в случае, когда организация является производителем тепла, но непосредственно не снабжает теплом конечных потребителей).
          li: span Правоустанавливающих документов на газоиспользующие объекты (только для объектов вновь газифицированных, либо принятых на законных основаниях в эксплуатацию в 2014-2015 г.г., а также планирующих газификацию в 2015-2016 г.г.).
        p В настоящее время ООО «Газпром межрегионгаз Краснодар» проводит работу по подготовке к согласованию в ООО «Газпром межрегионгаз» расчетных объемов поставки газа на 2016 год для бюджетных потребителей и организаций коммунального комплекса.
        p В соответствии с требованиями ООО «Газпром межрегионгаз» для включения предприятия в реестр организаций коммунального комплекса по Краснодарскому краю на 2016 год, необходимо представить заявку на необходимый объём газа в 2016 году для нужд теплоснабжения (Образец - Форма №1) и ксерокопии нижеперечисленных документов, заверенные печатью организации:
        ul
          li: span сведения о вводе в эксплуатацию новых котельных, приобретении действующих котельных;
          li: span сравнительный анализ потребления, а также предоставить копии заверенных печатью организации подтверждающих документов:
          li: span правоустанавливающих документов;
          li: span распоряжений/постановлений главы муниципального образования;
          li: span договоров купли-продажи газопотребляющего оборудования;
          li: span актов приема-передачи газопотребляющего оборудования;
          li: span действующих топливных режимов.
        p В случае не согласования объемов газа на 2016 год для бюджетных потребителей и организаций коммунального комплекса, договоры с ними на 2016 год заключаться не будут ввиду отсутствия защищенных лимитов газа.




