extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Реализация газа
        a(href="").breadcrumbs__link.breadcrumbs__link--active Цены и тарифы

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li
            a(href="").sidebar__link.sidebar__link--active Реализация газа
            ul
              li: a(href="").sidebar__link.sidebar__link--active Цены и тарифы
              li: a(href="").sidebar__link Порядок заключения договоров
              li: a(href="").sidebar__link Порядок ограничения и поставок газа
              li: a(href="").sidebar__link Автоматизированная система коммерческого учета газа
              li: a(href="").sidebar__link Перечень кредитных организаций
              li: a(href="").sidebar__link Согласование расчетных объемов поставки газа
              li: a(href="").sidebar__link Возрат денежных средств
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Цены и тарифы
        p ООО «Газпром межрегионгаз Краснодар» сообщает, что с 1 июля 2015 г. для потребителей Краснодарского края  (кроме населения и потребителей, в отношении которых применяются принципы государственного регулирования, предусмотренные пунктами 15.1-15.3 Основных положений формирования и государственного регулирования цен на газ и тарифов на услуги по его транспортировке на территории Российской Федерации, утвержденных постановлением Правительства РФ от 29 декабря 2000 г. № 1021) применяется в расчетах оптовая цена в размере 4 460 руб. за 1 тыс. куб.м. без НДС.
        p Оптовые цены рассчитаны в соответствии с «Положением об определении формулы цены газа», утвержденным Приказом ФСТ России от 09.07.2014 г. № 1142-э и Приказом ФСТ России от 08.06.2015 г. № 217-э/2 «Об установлении понижающего коэффициента, а так же коэффициентов, определяющих дифференциацию цен на природный газ по регионам Российской Федерации, являющихся составной частью формулы цены на газ».
        p Для потребителей, в отношении которых применяются принципы государственного регулирования, предусмотренные пунктами 15.1-15.3 Основных положений формирования и государственного регулирования цен на газ и тарифов на услуги по его транспортировке на территории Российской Федерации, утвержденных постановлением Правительства РФ от 29 декабря 2000 г. № 1021, в соответствии с Приказом ФСТ России от 08.06.2015 г. №218-э/3 с 1 июля 2015 г. поставка газа осуществляется по оптовой цене 4 906 руб. за 1 тыс. куб. м. без НДС.
        p С 1 июля 2015 г. размер платы за снабженческо-сбытовые услуги, оказываемые конечным потребителям газа ООО «Газпром межрегионгаз Краснодар» на территории Краснодарского края, действует в соответствии с утвержденным Приказом ФСТ России от 15 мая 2015 г. № 157-э/20 в следующих размерах:

        .responsive-table
          table.table.table--type-3
            tbody
              tr
                td(rowspan="2") Наименование <br> субъекта РФ и <br> поставщика газа
                td(colspan="7") Тариф (руб./1000 куб.м) по группам потребителей с объемом потребления газа (млн.куб.м/год)
              tr
                td &gt;500
                td
                  span 100 — 500
                  span.star *
                td
                  span 10 — 100
                  span.star *
                td
                  span 1 — 10
                  span.star *
                td
                  span 0,1 — 1
                  span.star *
                td
                  span 0,01 — 0,1
                  span.star *
                td &lt;0,01
              tr
                td Краснодарский <br> край ООО «Газпром <br> межрегионгаз <br> Краснодар»
                td 69,00
                td 85,37
                td 145,31
                td 199,80
                td 208,88
                td 227,07
                td 236,16

        i
          span.star *
          | Включительно

        p С 26 июня 2015 г. Приказом ФСТ России от 29 мая 2015 г. № 191-э/4 действуют дифференцированные по группам потребителей тарифы на услуги по транспортировке газа по газораспределительным сетям на территории Краснодарского края в следующих размерах: 

        .responsive-table
          table.table.table--type-3
            tbody
              tr
                td(rowspan="2") Наименование <br> субъекта РФ и <br> поставщика газа
                td(colspan="7") Тариф (руб./1000 куб.м) по группам потребителей с объемом потребления газа (млн.куб.м/год)
              tr
                td &gt;500
                td
                  span 100 — 500
                  span.star *
                td
                  span 10 — 100
                  span.star *
                td
                  span 1 — 10
                  span.star *
                td
                  span 0,1 — 1
                  span.star *
                td
                  span 0,01 — 0,1
                  span.star *
                td &lt;0,01
              tr
                td
                  span ОАО «Газпром газораспределение Краснодар»
                  br
                  small (кроме конечных потребителей, транспортировка газа которым осуществляется по газораспределительной системе «Адлер - Красная Поляна - Эсто-Садок»)
                td 109,21
                td 163,82
                td 425,99
                td 600,73
                td 628,04
                td 709,95
                td 764,55
              tr
                td
                  span ОАО «Газпром газораспределение Краснодар»
                  br
                  small (для конечных потребителей, транспортировка газа которым осуществляется по газораспределительной системе «Адлер - Красная Поляна - Эсто-Садок»)
                td —
                td —
                td 1782,71
                td 2367,32
                td 2423,88
                td 2785,47
                td 2827,90
        
        p Приказом РЭК - Департамента цен и тарифов Краснодарского края от 30 декабря 2014 года № 25/2014-газ введена в действие с  1 января  2015 года специальная надбавка к тарифам на транспортировку газа по газораспределительным сетям ОАО «Газпром газораспределение Краснодар» (кроме конечных потребителей газораспределительной сети «Адлер - Красная  Поляна - Эсто-Садок») в размере 51,17 руб. за 1 тыс.куб.м. без НДС.
        h3.h3 Промышленные и коммунально-бытовые потребители
        p С 1 августа 2013 г. для потребителей Краснодарского края  (кроме населения и потребителей, в отношении которых применяются принципы государственного регулирования, предусмотренные пунктами 15.1-15.3 Основных положений формирования и государственного регулирования цен на газ и тарифов на услуги по его транспортировке на территории Российской Федерации, утвержденных постановлением Правительства РФ от 29 декабря 2000 г. № 1021) оптовая цена на газ, рассчитанная по формуле цены газа, утвержденной Приказом ФСТ России от 14 июля 2011 г. №165-э/2 составляет 4 149 руб. 00 коп. за 1 тыс. куб.м. без НДС. 
        p Для потребителей, в отношении которых применяются принципы государственного регулирования, предусмотренные пунктами 15.1-15.3 Основных положений формирования и государственного регулирования цен на газ и тарифов на услуги по его транспортировке на территории Российской Федерации, утвержденных постановлением Правительства РФ от 29 декабря 2000 г. № 1021, в соответствии с Приказом ФСТ России от 15 июля 2013 г.  № 134-э/1 с 1 августа  2013 г. утверждены оптовые цены на газ в размере 4 564 руб. 00 коп. за 1 тыс. куб.м. без НДС.
        p С 1 июля 2013 г. Приказом ФСТ России от 29 января 2013 г. № 15-э/2 утверждены дифференцированный по группам потребителей размер платы за снабженческо-сбытовые услуги, оказываемые конечным потребителям газа ООО «Газпром межрегионгаз Краснодар» на территории Краснодарского края (без НДС).
        p С 1 июля 2013 г. Приказом ФСТ России от 21 декабря 2012 г. №425-э/2 утверждены тарифы на услуги по транспортировке газа по газораспределительным сетям на территории Краснодарского края, дифференцированный по группам потребителей (без НДС).
        
        .responsive-table
          table.table.table--type-3
            tbody
              tr
                td(rowspan="2") Наименование <br> субъекта РФ и <br> поставщика газа
                td(colspan="7") Тариф (руб./1000 куб.м) по группам потребителей с объемом потребления газа (млн.куб.м/год)
              tr
                td &gt;500
                td
                  span 100 — 500
                  span.star *
                td
                  span 10 — 100
                  span.star *
                td
                  span 1 — 10
                  span.star *
                td
                  span 0,1 — 1
                  span.star *
                td
                  span 0,01 — 0,1
                  span.star *
                td &lt;0,01
              tr
                td(colspan="8").text-center
                  span.text-primary Размер платы за снабженческо-сбытовые услуги
              tr
                td Краснодарский край ООО «Газпром межрегионгаз Краснодар»
                td 69,00
                td 85,37
                td 145,31
                td 199,80
                td 208,88
                td 227,07
                td 236,16
              tr
                td(colspan="8").text-center
                  span.text-primary Тарифы на услуги по транспортировке газа
              tr
                td ОАО «Краснодаркрайгаз» (кроме конечных потребителей, транспортировка газа которым осуществляется по газораспределительной системе «Адлер - Красная  Поляна - Эсто-Садок»)
                td 100,68
                td 151,02
                td 392,69
                td 553,78
                td 578,95
                td 654,46
                td 704,80
              tr
                td ОАО «Краснодаркрайгаз» (для конечных потребителей, транспортировка газа которым осуществляется по газораспределительной системе «Адлер - Красная  Поляна - Эсто-Садок»)
                td —
                td —
                td 1658,52
                td 2202,34
                td 2254,96
                td 2591,32
                td 2630,78


        p С 1 июля 2013 г. Приказом РЭК-Департамента цен и тарифов Краснодарского края от 21 декабря 2012 г. №23/2012-газ утверждена специальная надбавка к тарифам на транспортировку газа по газораспределительным сетям ОАО «Краснодаркрайгаз» (кроме конечных потребителей газораспределительной сети «Адлер - Красная  Поляна - Эсто-Садок») в размере 51,89 руб. за 1 тыс.куб.м. (без НДС).
        h3.h3 Порядок расчетов за газ
        p Пунктом 5.5.2. договора поставки установлено — Расчеты за газ по настоящему Договору производятся в соответствии с порядком, утвержденным постановлением Правительства Российской Федерации от 04.04.2000 № 294.
        .file
          .file__icon
            img(src="img/pdf-file.png", alt="")
          .file__content
            a(href="" download).file__name Постановление о порядке поставки газа
            .file__size (PDF, 774 КБ)
