extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Юридическим лицам
        a(href="").breadcrumbs__link Реализация газа
        a(href="").breadcrumbs__link Порядок заключения договоров
        a(href="").breadcrumbs__link.breadcrumbs__link--active Образцы документов

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Тендеры
          li
            a(href="").sidebar__link.sidebar__link--active Реализация газа
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li
                a(href="").sidebar__link.sidebar__link--active Порядок заключения договоров
                ul
                  li: a(href="").sidebar__link.sidebar__link--active Образцы документов
                  li: a(href="").sidebar__link Законодательная база
              li: a(href="").sidebar__link Порядок ограничения и поставок газа
              li: a(href="").sidebar__link Автоматизированная система коммерческого учета газа
              li: a(href="").sidebar__link Перечень кредитных организаций
              li: a(href="").sidebar__link Согласование расчетных объемов поставки газа
              li: a(href="").sidebar__link Возрат денежных средств
          li: a(href="").sidebar__link Газификация
      .inner__block.col.col--md-8
        h1.h1 Образцы документов
        .row
          .col.col--sm-6
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Заявка на заключение договора поставки газа
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Приложение №2 к заявке на приобретение газа
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Приложение №4 к заявке на приобретение газа
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Приложение №6 к заявке на приобретение газа
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Форма № 1 «Заявление на перезаключение договора на поставку газа»
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Форма № 3 «Заявление на перезаключение договора на поставку газа» (форма единого заявления от прежнего и нового участников договорных отношений)»
                .file__size (PDF, 774 КБ)
          .col.col--sm-6
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Приложение №1 к заявке на приобретение газа
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Приложение №3 к заявке на приобретение газа
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Приложение №5 к заявке на приобретение газа
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Приложение №7 к заявке на приобретение газа
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Форма № 2 «Заявление на расторжение договора на поставку газа» 
                .file__size (PDF, 774 КБ)
            .file
              .file__icon
                img(src="img/doc.png", alt="")
              .file__content
                a(href="" download).file__name Форма № 4 «Заявление на исключение из договора поставки газа газоиспользующего объекта»
                .file__size (PDF, 774 КБ)
        



