extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link.breadcrumbs__link--active Интернет конференция


  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Вопрос-ответ
          li
            a(href="").sidebar__link.sidebar__link--active Интернет-конференция
            ul
              li: a(href="").sidebar__link.sidebar__link--active 08.09.11
              li: a(href="").sidebar__link 15.06.10
      .inner__block.col.col--md-8
        h1.h1 Интернет конференция
        p Добрый день!
        p Пролетел год с прошлой нашей on-line встречи на этой площадке. В августе 2010-го мы с вами впервые общались в формате интернет-конференции. Для меня этот опыт был интересен и полезен - не часто удается встретиться с такой большой аудиторией, обменяться мнениями, обсудить работу наших подразделений в районах края.
        p Тогда я обещал читателям сайта, что прямые линии станут традиционными.  И я выполняю обещание. В течение часа готов on-line отвечать на поступающие вопросы.  А пока начинаю  выкладывать ответы на уже опубликованные темы, пришедшие на сайт во время подготовки к конференции.
        p С уважением,  Сергей Комиссаров
        h4.h4 Жека василенко (vasil@list.ru)
        .list-item Сергей Юрьевич, планируется ли какие-либо шаги по улучшению качества сервиса? Например, хотелось бы иметь возможность скачать с сайта Компании форму заявления на выдачу техусловий, спокойно заполнить её дома и прийти с готовой, а не писать её на ходу в горгазе. Или по номеру заявки проверить готовность техусловий, а не тратить полдня, чтобы дозвониться по телефонам. А в идеале - было бы круто, если заявку на изготовление проекта тоже можно было бы подать через интернет! А что? Отсканировал документы, вбил данные, написал заявление, всё отправил и пришел, получил готовый проект!!!А то, действительно, как кто-то из пользователей сказал-каменный век!
        h4.h4.text-primary Сергей Комиссаров
        .list-item.list-item--primary
          p Относительно счетчиков в квартирах - счетчики дают воможность платить только за тот газ, который потребили именно вы и в этом месяце. Сейчас в продаже появились счетчики Гранд 1.6, предназначенные именно для измерения потребления топлива газовой плитой. Они стоят порядка 2000 рублей. Не стоит забывать, что установка счетчика - это требование Федерального закона.
          p Для занятий лэмворком Вам необходимо будет оформить множество документов в разных инстанциях. Дополнительная установка газового баллона может создать угрозу жизни Вашей и Ваших соседей. Поэтому лучше оборудовать мастерскую в нежлом помещении.
          p И о вопросе Любови Филипповны. Обычные счетчики, устанавливаемые в домах кубанцев, стоят от 2400 руб до 4200 и поверять их необходимо один раз в 8-10 лет. За время, которое счетчик находится в поверке, оплата взимается в соответствии с Правилами поставки газа для обеспечения коммунально-бытовых нужд граждан
        h4.h4 Татьяна (tatakomar1959@mail.ru)
        .list-item Будет ли повышаться цена на газ в 2012 году и, если да, то насколько и сколько раз?
        h4.h4.text-primary Сергей Комиссаров
        .list-item.list-item--primary Будет, возможно так же, как в этом году.
        h4.h4 Александра (red@maks-portal.ru)
        .list-item Уважаемый Сергей Юрьевич! Жителей города Сочи волнует вопрос: "Почему о плановых отключениях газоснабжения не сообщается заранее?". Так, сегодня, 8 сентября, в двух микрорайонах Сочи - на Светлане и Макаренко отключили газ с 8 до 17 часов. Сообщение об этом поступило в 9:30, уже постфактум...
        h4.h4.text-primary Сергей Комиссаров
        .list-item.list-item--primary Для обеспечения бесперебойного и безаварийного газоснабжения  города Сочи в осенне-зимний период  ежегодно проводятся ремонтные и профилактические работы, которые отражены в одноименном графике. Время проведения работ газовая служба в обязательном порядке согласовывает с органами местного самоуправления. 8 августа профилактические ремонтные работы проводились по ул. Комсомольской (микрорайон «Светлана) с 8:00 В 11-00 08.09.2011 пуск газа возобновлен. О работах заранее были оповещены жители улицы посредством объявлений на подъездах домов. Улица Олимпийская (микрорайон Макаренко) отключена не была.
        a(href="").btn
          span Читать далее
          i.btn__icon
            i.fa.fa-angle-down








