extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Контакты
        a(href="").breadcrumbs__link.breadcrumbs__link--active Участки по работе с потребителями газа

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link.sidebar__link--active Участки по работе с потребителями газа
          li: a(href="").sidebar__link Контакты для юридических лиц
      .inner__block.col.col--md-8
        h1.h1 Участки по работе с потребителями газа
        .tab-links
          a(href="").item.item--active
            img(src="img/placeholder.png", alt="")
          a(href="").item
            img(style="transform: translateY(-3px)" src="img/list-typebar.png", alt="")
        .svg-map
          #paper
        
        .svg-content
          .svg-content__item#temryksky
            h3.h3 Темрюкский район
            p начальник участка 
              strong Пробейголова Игорь Юрьевич
            p Тел.: (86151) 7-70-93.
              br
              | Прием: четверг, пятница с 10-00 до 12-00.
            p.text-primary Участок обеспечивает газом 
              br
              | 11 180 домохозяйств, 
              br
              | 225 промышленных и коммунально-бытовых объектов.
              br
              | Ежегодный объем поставки газа, в среднем, составляет 37,1 млн. м3
            p 353620, Краснодарский край, Щербиновский р-н, ст. Старощербиновская, ул. Первомайская, 87.
            strong Часы приема:
            p понедельник-четверг с 8-30 до 16-30,
              br
              | пятница с 8-30 до 16-45, 
              br
              | перерыв с 12-00 до 12-45.

            strong Телефоны отделов:
            p (86151) 7-76-32 - абонентский отдел;
              br
              | (86151) 7-76-32 - юрист;
              br
              | (86151) 7-73-45 - промышленный отдел.

            strong Телефоны для передачи показаний прибора учета:
            p (86151) 7-76-32; 8-988-356-04-62

            p Эл. почта: 
              span.text-primary str_uch23@mail.kuban.ru
          .svg-content__item#sherbinovsky
            h3.h3 Щербиновский район
            p начальник участка 
              strong Пробейголова Игорь Юрьевич
            p Тел.: (86151) 7-70-93.
              br
              | Прием: четверг, пятница с 10-00 до 12-00.
            p.text-primary Участок обеспечивает газом 
              br
              | 11 180 домохозяйств, 
              br
              | 225 промышленных и коммунально-бытовых объектов.
              br
              | Ежегодный объем поставки газа, в среднем, составляет 37,1 млн. м3
            p 353620, Краснодарский край, Щербиновский р-н, ст. Старощербиновская, ул. Первомайская, 87.
            strong Часы приема:
            p понедельник-четверг с 8-30 до 16-30,
              br
              | пятница с 8-30 до 16-45, 
              br
              | перерыв с 12-00 до 12-45.

            strong Телефоны отделов:
            p (86151) 7-76-32 - абонентский отдел;
              br
              | (86151) 7-76-32 - юрист;
              br
              | (86151) 7-73-45 - промышленный отдел.

            strong Телефоны для передачи показаний прибора учета:
            p (86151) 7-76-32; 8-988-356-04-62

            p Эл. почта: 
              span.text-primary str_uch23@mail.kuban.ru







