extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link Учет газа
        a(href="").breadcrumbs__link.breadcrumbs__link--active Температурный коэффициент

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li: a(href="").sidebar__link Населению
          li: a(href="").sidebar__link Газ для новичков
          li
            a(href="").sidebar__link.sidebar__link--active Учет газа
            ul
              li: a(href="").sidebar__link Установка бытового газового счетчика
              li: a(href="").sidebar__link Проверка счетчиков газа
              li: a(href="").sidebar__link.sidebar__link--active Температурный коэффициент
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Температурный коэффициент
        p После принятия Постановления Правительства Российской Федерации от 23 мая 2006 года N 307, утвердившего Правила предоставления коммунальных услуг гражданам, к показаниям счетчиков, не оборудованных температурным корректором, стали применяться температурные коэффициенты (далее - ТК). Значения ТК рассчитываются в соответствии с методикой МИ-2721 и утверждаются Федеральным агентством по техническому регулированию и метрологии каждые полгода.
        p В соответствии с п.26  "Правил поставки газа для обеспечения коммунально-бытовых нужд граждан" «Объем потребленного газа по показаниям прибора учета газа, не имеющего температурной компенсации, определяется как разность показаний прибора учета газа  на начало и конец отчетного периода, умноженная  на температурный коэффициент (коэффициент приведения к стандартным условиям), утверждаемый для таких типов приборов учета газа Федеральным агентством по техническому регулированию и метрологии».
        p Расчет температурного коэффициента  для Краснодарского края производится на основании методических указаний  МИ 2721-2002, МИ 2721-2005 "Количество (объем) газа. Типовая методика выполнения измерений мембранными счетчиками газа без температурной компенсации", разработанных Федеральным государственным унитарным предприятием "Всероссийский научно-исследовательский институт метрологической службы" (ФГУП "ВНИИМС").
        p В соответствии с МИ 2721-2005 в состав исходных данных для расчета температурных коэффициентов входят официальные данные по температуре и атмосферному давлению, ежегодно предоставляемые в ООО «Газпром межрегионгаз Краснодар» Государственным Учреждением  «Краснодарский Центр по гидрометеорологии и мониторингу окружающей среды (Краснодарский ЦГМС). Утвержденные приказом Федерального агентства по техническому регулированию и метрологии  температурные коэффициенты применяются поставщиком газа круглогодично. Значения месячных величин температурных коэффициентов находится в  пределах:  от 1,1 -1,04 в зимний период  и 0,98 - 1,00 в летний период календарного года.
        p Необходимо отметить, что значения температурных коэффициентов не влияют  на цену кубометра газа, а  лишь корректирует  объем потребленного газа путем приведения к стандартным условиям.
        p Таким образом, потребленный, с учетом величины температурного коэффициента объем газа подежит обязательной оплате абонентом в сроки, установленные действующим законодательством  РФ.
        p.text-info ООО «Газпром межрегионгаз Краснодар» уведомляет абонентов, осуществляющих расчеты за газ по показаниям бытовых приборов учета газа, установленных вне помещений и не оборудованных температурными компенсаторами, что на основании п. 26. «Правил поставки газа для обеспечения  коммунально-бытовых нужд граждан», утвержденных Постановлением Правительства РФ №  549 от 21.07.2008 года, определены  величины  температурных коэффициентов для климатических зон Краснодарского края на 2-е полугодие 2017 года.
        strong Центральная климатическая зона
        p Брюховецкий, Выселковский, Гулькевичский, Динской, Кавказский, Кореновский, Курганинский, Новокубанский, Тбилисский, Тимашевский, Калининский, Красноармейский районы, г. Армавир, Усть-Лабинский район — июль 0,98; август 0,98; сентябрь 1,01; октябрь 1,05; ноябрь 1,07; декабрь 1,10.
        strong Предгорная Восточная климатическая зона
        p Отрадненский, Мостовской, Успенский, Лабинский районы — июль 0,95; август 0,95; сентябрь 0,98; октябрь 1,01; ноябрь 1,02; декабрь 1,05.
        strong Предгорная Западная климатическая зона
        p Абинский, Северский, Апшеронский, Белореченский, Крымский, Славянский, Темрюкский районы, г-к. Горячий Ключ — июль 0,99; август 0,99; сентябрь 1,02; октябрь 1,06; ноябрь 1,07; декабрь 1,10.
        strong Южная климатическая зона
        p г. Анапа, г. Новороссийск, г. Геленджик, г. Сочи, г. Туапсе — июль 0,99; август 0,99; сентябрь 1,01; октябрь 1,05; ноябрь 1,06; декабрь 1,09.
        p.text-info На первое полугодие 2017 года для потребителей газа ООО «Газпром межрегионгаз Краснодар» на основании утвержденных Федеральным агенством по техническому регулированию и метрологии температурных коэффициентов (Приказ № 1704  от 18.11.2016, зарегистрирован в Минюсте РФ 09.12.2016 №  44648) вводятся в действие утвержденные температурные коэффициенты к показаниям приборов учета газа, установленных вне помещений, не имеющих температурной компенсации и зарегистрированных в Государственном реестре средств измерений.
        h3.h3 Температурные коэффициенты
        .inner-text-slider-container
          .inner-text-slider.temperature-slider
            .region-slider__slide
              a(href="").inner-text-slider__link.inner-text-slider__link--active Второе полугодие 2016
            .inner-text-slider__slide
              a(href="").inner-text-slider__link Первое полугодие 2016
            .inner-text-slider__slide
              a(href="").inner-text-slider__link Второе полугодие 2015
            .inner-text-slider__slide
              a(href="").inner-text-slider__link Первое полугодие 2015
        table.table.table--type-2
          thead
            th Климатическая зона
            th Январь
            th Февраль
            th Март
            th Апрель
            th Май
            th Июнь
          tbody
            tr
              td Северная
              td 1,09
              td 1,07
              td 1,05
              td 1,03
              td 1,01
              td 1,00
            tr
              td Белоглинский район
                br
                | г. Ейск и Ейский район
                br
                | Каневской район
                br
                | Крыловской район
                br
                | Кущевский район
                br
                | Ленинградский район
                br
                | Новопокровский район
                br
                | Павловский район
                br
                | Приморско-Ахтарский район
                br
                | Староминской район
                br
                | г. Тихорецк и Тихорецкий район
                br
                | Щербиновский район
              td
              td
              td
              td
              td
              td
            tr
              td Центральная
              td 1,09
              td 1,06
              td 1,05
              td 1,02
              td 1,01
              td 0,9
            tr
              td Брюховецкий район
                br
                | Выселковский район
                br
                | Гулькевичский район
                br
                | Динской район
                br
                | г. Кропоткин и Кавказский район
                br
                | Кореновский район
                br
                | Курганинский район
                br
                | Новокубанский район
                br
                | Тбилисский район
                br
                | Тимашевский район
                br
                | г. Армавир
                br
                | Калининский район
                br
                | Красноармейский район
                br
                | Усть-Лабинский район
              td
              td
              td
              td
              td
              td
            tr
              td Предгорная Восточная
              td 1,05
              td 1,02
              td 1,01
              td 0,99
              td 0,98
              td 0,96
            tr
              td Брюховецкий район
                br
                | Выселковский район
                br
                | Гулькевичский район
                br
                | Динской район
                br
                | г. Кропоткин и Кавказский район
                br
                | Кореновский район
                br
                | Курганинский район
                br
                | Новокубанский район
                br
                | Тбилисский район
                br
                | Тимашевский район
                br
                | г. Армавир
                br
                | Калининский район
                br
                | Красноармейский район
                br
                | Усть-Лабинский район
              td
              td
              td
              td
              td
              td
            tr
              td Предгорная Западная
              td 1,09
              td 1,07
              td 1,05
              td 1,03
              td 1,02
              td 1,00
            tr
              td Абинский район
                br
                | Северский район
                br
                | Славянский район
                br
                | Апшеронский район
                br
                | Белореченский район
                br
                | г. Крымск и Крымский район
                br
                | г. Горячий Ключ
                br
                | Темрюкский район
              td
              td
              td
              td
              td
              td
            tr
              td Южная
              td 1,08
              td 1,06
              td 1,05
              td 1,04
              td 1,02
              td 1,00
            tr
              td Абинский район
                br
                | Северский район
                br
                | Славянский район
                br
                | Апшеронский район
                br
                | Белореченский район
                br
                | г. Крымск и Крымский район
                br
                | г. Горячий Ключ
                br
                | Темрюкский район
              td
              td
              td
              td
              td
              td









