extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link.breadcrumbs__link--active Руководство для абонента

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li: a(href="").sidebar__link Населению
          li: a(href="").sidebar__link.sidebar__link--active Руководство для абонента
          li: a(href="").sidebar__link Учет газа
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Руководство для абонента
        h3.h3 Правила учета и оплаты газа
        i Установлены «Правилами поставки газа для обеспечения коммунально-бытовых нужд граждан», утвержденными Постановлением Правительства РФ от 21.07.2008 № 549
        h3.h3 Как рассчитать сумму платы за газ?
        .inner__img
          img(src="img/formula-1.jpg", alt="")
        .text-info
          p Если счетчик газа не оборудован температурным корректором, объем потребленного газа, определенный счетчиком следует умножать на значения температурного коэффициента.
          p Если счетчик газа отсутствует (снят на очередную поверку),  объем потребленного газа определяется в соответствии с нормативами потребления.
          p Если счетчик своевременно не прошел поверку, то его показания к учету не принимаются, объем потребленного газа определяется в соответствии с нормативами потребления.
          p Если абонент не заявил объем потребленного газа, к оплате выставляется расчетный объем, определенный без учета отсутствующих сведений о текущих показаниях счетчика
        .inner__img
          img(src="img/formula-2.jpg", alt="")
        h3.h3 Что такое норматив?
        p Нормы и нормативы потребления газа утверждаются Постановлением главы администрации Краснодарского края и являются обязательными для определения объема использованного газа при отсутствии у абонента приборов учета газа, либо в случаях, предусмотренных положениями Правил поставки газа для обеспечения коммунально-бытовых нужд граждан.
        h4.h4 Случаи, в которых применяются нормативы:
        ul
          li: span У Вас не установлен счетчик газа;
          li: span Вы используете прибор учета газа, тип которого не внесен в государственный реестр средств измерений;
          li: span Нарушены пломбы, установленные на приборе учета газа и на месте, где прибор присоединен к газопроводу;
          li: span Прибор находится в неисправном состоянии;
          li: span Истек очередной срок поверки прибора учета газа;
          li: span Вы более трех месяцев не предоставляли в ООО «Газпром межрегионгаз Краснодар» сведения о текущих показаниях счетчика.
        h4.h4 Утвержденные нормы потребления газа для жителей Краснодарского края:
        ul
          li: span на пищеприготовление при наличии централизованного горячего водоснабжения - 11,3 м3 на 1 человека;
          li: span на пищеприготовление при отсутствии централизованного горячего водоснабжения - 16,6 м3 на 1 человека;
          li: span на пищеприготовление и горячее водоснабжение при наличии водонагревателя - 27,9 м3 на 1 человека;
          li: span на отопление помещения - 72м3 на 1м2 отапливаемой площади в год (оплачивается с октября по апрель включительно по 10,2857 м3 на 1м2 отапливаемой площади).
        h3.h3 Когда платить?
        p Платить за газ необходимо ежемесячно, не позже 10 числа месяца, следующего за отчетным. Начисления за газ происходят на основании данных об объеме потребленного абонентом топлива.
        p Если абонент своевременно не сообщает сведения о текущих показаниях счетчика, то для начислений используется расчетный объем потребления газа, показания счетчика из-за их отсутствия в расчет не принимаются. Возобновить определение объема газа по счетчику можно после вызова контролера участка ООО «Газпром межрегионгаз Краснодар», который снимет контрольные показания счетчика и внесет их в акт проверки.
        p Сообщить показания счетчика сотрудникам участка ООО «Газпром межрегионгаз Краснодар» можно:
        ul
          li: span заполнив квитанцию и заплатив за газ;
          li: span позвонив по телефонам участка;
          li: span отправив письмо/открытку в адрес участка;
          li: span заполнив форму на сайте.
        .text-info
          p Если абонент заблаговременно уведомил поставщика газа о непредставлении сведений о показаниях прибора учета газа в связи с тем, что все проживающие в жилом помещении (жилом доме) будут отсутствовать по этому месту жительства более 1 месяца, начисления производиться не будут. Форму соответствующего заявления можно распечатать и заполненную предоставить на участок по работе с потребителями газа в Вашем районе.
          p Если абонент в течение 3 месяцев не оплачивает или оплачивает не полностью потребленный газ, поставщик газа может в одностороннем порядке приостановить действие договора, прекратив поставку газа.
          p Сохраняйте документы, подтверждающие оплату газа - это необходимо для проведения сверок расчетов.
          p При оплате в кассах районных участков ООО "Газпром межрегионгаз Краснодар" кассир обязан выдать чек контрольно-кассовой машины. Сохраняйте его вместе с квитанцией.

        h4.h4 Авансовые платежи
        p Если вы платите авансом, укажите сумму аванса в квитанции, обязательно напишите слово «аванс»
        .row
          .col.col--sm-6
            .file
              .file__icon
                img(src="img/pdf-file.png", alt="")
              .file__content
                a(href="" download).file__name Пример заполнения квитанции для авансового платежа
                .file__size (PDF, 774 КБ)
        p.text-info Ежемесячно до 30 числа сообщайте (по телефону или письменно, через сайт) сотрудникам участка ООО «Газпром межрегионгаз Краснодар» текущие показания счетчика и объем использованного газа для своевременного списания стоимости потребленного топлива.  Если в конце месяца сведения о показаниях счетчика не будут предоставлены, из суммы аванса будет списана стоимость объема газа, определенная  расчетным методом, т.е. без учета показаний счетчика.
        h3.h3 Поверка счетчиков
        ol
          li: span Как любые измерительные механизмы, счетчик газа нуждается в периодической метрологической поверке. Обязанность  «обеспечивать в установленные сроки представление прибора учета газа для проведения поверки» законодательно возложена на на потребителя газа.
          li: span Время между поверками, так называемый «межповерочный интервал»,  указан в паспорте счетчика. Это может быть и два, и шесть, и восемь или даже десять лет, в зависимости от марки и типа прибора учета.  Срок первой поверки необходимо отсчитывать не от даты установки счетчика, а от даты поверки, которую прибор прошел еще на заводе, она тоже указана в паспорте.
          li: span Показания счетчика, который вовремя не прошел поверку, к учету газа и последующим расчетам за «голубое топливо» не применяются.
          li: span Во время, когда счетчик снят на поверку (с момента снятия до дня пломбировки), начисления за потребленный газ производятся расчетным методом, именно поэтому лето и ранняя осень, когда для отопления газ не используется, считается самым удобным временем для проведения очередной поверки счетчика.







