extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link Учет газа
        a(href="").breadcrumbs__link.breadcrumbs__link--active Проверка счетчиков газа

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li: a(href="").sidebar__link Населению
          li: a(href="").sidebar__link Газ для новичков
          li
            a(href="").sidebar__link.sidebar__link--active Учет газа
            ul
              li: a(href="").sidebar__link Установка бытового газового счетчика
              li: a(href="").sidebar__link.sidebar__link--active Проверка счетчиков газа
              li: a(href="").sidebar__link Температурный коэффициент
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Проверка счетчиков газа
        p Определение объема потребленного газа по показаниям прибора учета газа  осуществляется при соблюдении ряда условий, в том числе - если срок проведения очередной поверки не наступил (пп. "в", п. 25 " Правил поставки газа для обеспечения коммунально-бытовых нужд граждан, утвержденных Постановлением Правительства РФ от 21 июля 2008 года № 549 " - далее  Правила).
        p Прибор учёта газа (счётчик) является сложным техническим устройством. Со временем его детали изнашиваются, деформируются, и счётчик может давать неправильные показания, как в сторону уменьшения реально прошедшего объёма газа, так и в сторону его увеличения. Поэтому счетчики газа подлежат периодической поверке (ст. 13 Федерального закона «Об обеспечении единства измерений» от 26.06.2008 № 102-ФЗ).
        p В соответствии с Правилами и договором поставки газа, заключённым между каждым абонентом - пользователем газа и ООО «Газпром межрегионгаз  Краснодар», учёт количества поставленного газа осуществляется по показаниям исправных и поверенных приборов учета газа, а при их отсутствии или просроченном сроке поверки - по действующим нормам расхода газа, которые определяются в соответствии с действующим законодательством.
        p «Поверка приборов учета газа» (далее по тексту - поверка) - это совокупность операций, выполняемых в целях подтверждения соответствия средств измерений метрологическим требованиям.
        p Межповерочный интервал (интервал времени от даты предыдущей поверки до следующей) определяется для каждого типа приборов учета и указывается в паспорте счетчика.
        p Дата очередной поверки исчисляется от даты предыдущей поверки прибора счетчика и не зависит от даты установки счетчика. Этот срок может составлять от 5 до 12 лет. При этом в течении гарантированного срока службы счётчика прибор может быть поверен несколько раз.
        p Счётчики, установленные в домовладениях абонентов, могут подвергаться первичной, внеочередной и периодической поверкам.
        p Первичной поверке подлежат приборы учета газа утвержденных типов при выпуске из производства и ремонта, при ввозе по импорту.
        p
          strong Внеочередная поверка счётчиков проводится в случаях:
        ul
          li: span повреждения поверительного клейма или пломб, несущих измерительное клеймо (поверительные клейма и пломбы считаются повреждёнными, если без применения специальных средств невозможно прочитать нанесённую на них информацию, а также если они не препятствуют доступу к узлам регулировки средств измерений или внутренним элементам их устройств);
          li: span проведения повторной регулировки при известном или предполагаемом ударном воздействии на счётчик;
          li: span ввода его в эксплуатацию, если счётчик находился на хранении более одного межповерочного интервала счётчика;
          li: span при предполагаемой неудовлетворительной работе прибора учета газа.
        p Периодической поверке подлежат средства измерений, находящиеся в эксплуатации или на хранении, через определенные межповерочные интервалы. Периодическую поверку должен проходить каждый прибор учета газа.
        p Решение об утверждении типа стандартных образцов или типа средств измерений принимается федеральным органом исполнительной власти, осуществляющим функции по оказанию государственных услуг и управлению государственным имуществом в области обеспечения единства измерений. Данным органом исполнительной власти, на основании постановления Правительства РФ от 17.06.2004 № 294, является Федеральное агентство по техническому регулированию и метрологии, в Краснодарском крае - ФГУ «Краснодарский центр стандартизации и метрологии».
        p Интервал между поверками средств измерений может быть изменен только федеральным органом исполнительной власти, осуществляющим функции по оказанию государственных услуг и управлению государственным имуществом в области обеспечения единства измерений.
        p Обязанность обеспечивать в установленные сроки представление прибора учета газа для проведения поверки законодательно закреплена за собственником газового счетчика (п. 21 "Правил поставки газа обеспечения коммунальных нужд населения"). Затраты на доставку, поверку, ремонт,  замену и возможные расходы на изменение внутридомовых газовых сетей, связанных заменой счётчика возложены на абонента, поскольку абонент является собственником приборов учёта газа и обязан его содержать (ст. 210 Гражданского кодекса Российской Федерации).
        p Абонент обязан до наступления даты проведения очередной поверки прибора учета, определяемый с учетом периодичности ее проведения, устанавливаемой Федеральным агентством по техническому регулированию и метрологии для каждого типа приборов учета газа, допущенных к использованию на территории РФ, произвести мероприятия по поверке или замене своего счетчика.
        p Начиная с даты окончания срока межповерочного интервала счетчика, показания прибора учета газа не принимаются к учету. Начисления за потребленный газа производятся в соответствии с нормативами потребления газа, утвержденными в установленном порядке органами государственной власти Краснодарского края, до дня следующего за датой установки пломбы ООО «Газпром межрегионгаз Краснодар». Нормативные начисления в данном случаи выступают в качестве правомерного способа определения объема потребленного газа, применение которого не зависит от наличия у покупателя вины в невыполнении обязанности по поверке прибора учета газа.
        p При этом у поставщика газа отсутствует обязанность проводить перерасчет платы за газ, начисленной поставщиком исходя из объемов потребления, правомерно определенных в соответствии с нормативами в период истечения срока поверки, и в том случае, когда по результатам проведения поверки данный прибор признан пригодным для дальнейшего использования в силу того, что одним из условий, позволяющим определять объем потребленного абонентом газа в соответствии с показаниями прибора учета, согласно п.п. «в» п. 25 Правил является именно наличие действующей поверки прибора учета газа, что не зависит от результата ее проведения.
        p Учитывая вышеизложенное, рекомендуется производить поверку прибора учета газа заблаговременно, чтобы не быть зависимым от возможностей специализированных организаций. Можно также произвести замену не поверенного прибора учета газа на новый (или поверенный) счетчик одним днем для экономии своего времени, исключения необходимости доставлять счетчик в лабораторию, получения свидетельства о поверке и следовательно минимизации нормативных начислений.
        p Проведением работ по снятию, установке либо замене газовых счётчиков занимается организация, с которой абонент заключил договор технического обслуживания и ремонта внутридомового газового оборудования, либо сторонняя организация, у которой есть разрешение на проведение данных работ. В том случае, если проведение поверки прибора учета газа связано с демонтажем этого прибора, то снятие пломбы Поставщика производится в присутствии представителя ООО «Газпром межрегионгаз Краснодар». Для получения направления (согласования) поверке или замены необходимо обратиться в обособленное структурное подразделение ООО «Газпром межрегионгаз Краснодар» в Вашем районе.
        p После поверки государственный поверитель выдает абоненту свидетельство о поверке или извещение о непригодности прибора учета газа  (при неисправности прибора учета газа).
        p В случае, если прибор учета газа признан поверителем непригодным для расчетов за потребленный газ, он подлежит ремонту или замене.
        p: strong В случае принятия абонентом решения о замене прибора учёта газа при выборе газового счётчика необходимо обратить внимание на следующее:
        ul
          li: span наличие максимально длительного межповерочного интервала;
          li: span соответствие тех. проекту на газификацию дома (приобретаемый для замены счётчик должен соответствовать техническому проекту на газификацию домовладения и при этом, пропускная способность счетчика должна соответствовать максимальной мощности установленного газового оборудования);
          li: span наличие температурного корректора (современные приборы учета оснащены встроенным температурным корректором, поэтому показания таких счетчиков не требуют применения температурного коэффициента к объему газа, определяемому по показаниям прибора учета газа).
        p Поэтому прежде, чем приобрести прибор учета газа необходимо проконсультироваться с специалистами участка  ООО «Газпром межрегионгаз Краснодар» во избежание неприятностей в дальнейшем.
        p После установки прибора учета газа на газопровод абонент обращается на участок с заявкой о пломбировке прибора учета газа и производит оплату за установку пломбы в соответствии с утвержденными расценками.
        p: strong К заявке прилагаются копии следующих документов:
        ul
          li: span квитанции об оплате за пломбировку;
          li: span актов на снятие и установку прибора учета газа специализированной организацией с его показаниями (в том числе прибора учета газа из обменного фонда);
          li: span свидетельство о поверке прибора учета газа (с действующей поверкой).
        i Порядок проведения поверки средств измерений, требования к знаку поверки и содержанию свидетельства о поверке, утверждены приказом № 1815 от 2 июля 2015 г министерства промышленности и торговли российской федерации.














