extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link Населению
        a(href="").breadcrumbs__link.breadcrumbs__link--active Порядок расчетов за газ

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li
            a(href="").sidebar__link.sidebar__link--active Населению
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li: a(href="").sidebar__link Порядок заключения договоров
              li: a(href="").sidebar__link.sidebar__link--active Порядок расчетов за газ
              li: a(href="").sidebar__link Порядок ограничения поставок газа
              li: a(href="").sidebar__link Договор ТО ВДГО
              li: a(href="").sidebar__link Согласие на обработку персональных данных
          li: a(href="").sidebar__link Газ для новичков
          li: a(href="").sidebar__link Учет газа
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Порядок расчетов за газ
        p Внесение абонентом поставщику газа платы за потребленный газ осуществляется ежемесячно, не позже 10-го числа месяца, следующего за истекшим расчетным периодом, которым является календарный месяц.
        p При оплате газа в кассах районных участков ООО "Газпром межрегионгаз Краснодар" требуйте от кассира контрольно-кассовый чек. Сохраняйте чек и квитанцию об оплате для последующих сверок платежей.
        p Обязанность по внесению платы за потребленный газ возникает с наступления месяца, в течение которого имела место первая фактическая подача газа абоненту.
        p Размер платы за потребленный газ рассчитывается как произведение объема потребленного газа и розничных цен на газ, установленных для населения в соответствии с законодательством Российской Федерации.
        p Объем потребленного газа определяется исходя из показаний прибора учета газа, а при его отсутствии  - по нормативами потребления.
        p Объем потребленного газа по показаниям счетчика газа, не имеющего температурной компенсации, определяется как разность показаний прибора учета газа на начало и конец отчетного периода, умноженная на температурный коэффициент (коэффициент приведения к стандартным условиям), утверждаемый для таких типов приборов учета газа Федеральным агентством по техническому регулированию и метрологии.
        p Простейшим способом передачи показаний счетчиков является заполнение соответствующих граф квитанции при оплате потребленного газа. Передать показания можно и через наш
          a(href="").link сайт
          | .
        p Если абонент в установленный договором срок не представил поставщику газа сведения о показаниях прибора учета газа (не произвел оплату либо не заявил любым способом), объем потребленного газа за прошедший расчетный период и до расчетного периода, в котором абонент возобновил представление указанных сведений, определяется расчетным способом.
        p Определение объема потребляемого газа по показаниям прибора учета газа возобновляется со дня, следующего за днем проведения проверки, осуществляемой поставщиком газа по заявке абонента.
        p Если определение объема потребляемого газа по показаниям прибора учета газа возобновлено не с начала расчетного периода, то за истекшие дни расчетного периода объем потребленного газа определяется в соответствии с нормативами потребления газа пропорционально количеству таких дней. В указанном расчетном периоде общий объем потребленного газа равен сумме объема потребленного газа, рассчитанного с учетом нормативов потребления газа, и объема потребленного газа, установленного по показаниям прибора учета газа.
        p Если абонент заблаговременно уведомил поставщика газа о непредставлении сведений о показаниях прибора учета газа в связи с тем, что все граждане, проживающие в жилом помещении (жилом доме), газоснабжение которого обеспечивается в соответствии с договором, будут отсутствовать по этому месту жительства более 1 месяца, определение объема по нормативам потребления происходить не будет. Форму соответствующего заявления можно 
          a(href="").link распечатать
          | и заполненную предоставить на участок по работе с потребителями газа в Вашем районе.
        p Размер платы за потребленный газ для абонента — физического лица в случае предоставления ему или членам его семьи мер социальной поддержки в форме скидки (в натуральной форме) уменьшается на размер такой скидки. В случае предоставления мер социальной поддержки в иных формах размер платы не уменьшается.
        p В договоре с абонентом — физическим лицом (гражданином) предусматривается, что плата за потребленный газ перечисляется (вносится) непосредственно поставщику газа.
        p.text-info Пожалуйста, внимательно заполняйте квитанцию, чтобы исключить случаи неверного зачисления Вашего платежа.
        h3.h3 Правила заполнения квитанции
        ol
          li
            span В графе "лицевой счет" необходимо указать полностью 12-значный лицевой счет абонента. Первые две цифры определяют территориальную принадлежность домовладения. Уточнить свой лицевой счет можно в абонентской книжке, выданной ранее на участке по работе с потребителями газа. Если в абонкнижке указан десятизначный номер, то перед ним необходимо добавить две цифры 
              a(href="").link территориального кода
              | .
          li
            span В графе "ФИО" вписывается полные фамилия, имя, отчество собственника домовладения.
          li
            span В графе "адрес" - полный адрес домовладения, за которое Вы производите оплату.
          li
            span В случае авансового платежа заполните графы "показания счетчика" (если у Вас в доме установлен прибор учета) или "оплата по нормативу"(если нет счетчика), в графе "пеня" впишите слово "аванс", укажите сумму аванса в столбце "сумма" и общую сумму платежа в графе "всего к оплате".
        .file
          .file__icon
            img(src="img/pdf-file.png", alt="")
          .file__content
            a(href="" download).file__name Бланк квитанции
            .file__size (PDF, 774 КБ)




