extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link Населению
        a(href="").breadcrumbs__link Цены и тарифы
        a(href="").breadcrumbs__link.breadcrumbs__link--active Перечень документов

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li
            a(href="").sidebar__link.sidebar__link--active Населению
            ul
              li
                a(href="").sidebar__link.sidebar__link--active Цены и тарифы
                ul
                  li: a(href="").sidebar__link.sidebar__link--active Перечень документов
                  li: a(href="").sidebar__link Порядок прохождения документации
                  li: a(href="").sidebar__link Переоформление и расторжение договоров
              li: a(href="").sidebar__link Порядок заключения договоров
              li: a(href="").sidebar__link Порядок расчетов за газ
              li: a(href="").sidebar__link Порядок ограничения поставок газа
              li: a(href="").sidebar__link Договор ТО ВДГО
              li: a(href="").sidebar__link Согласие на обработку персональных данных
          li: a(href="").sidebar__link Газ для новичков
          li: a(href="").sidebar__link Учет газа
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Перечень документов
        i Выписка из «Правил поставки газа для обеспечения коммунально-бытовых нужд граждан», Утверждены Постановлением Правительства РФ № 549 от 21.07.2008г.
        ol
          li
            span Заявление физического лица на заключение договора
            p Заявление должно содержать помимо сведений о заявителе, необходимых для заключения договора, следующие сведения:
            ul
              li
                span тип помещения, газоснабжение которого необходимо обеспечить (многоквартирный дом, жилой дом, надворные постройки индивидуального домовладения);
              li
                span виды потребления газа (приготовление пищи, отопление, в том числе нежилых помещений, подогрев воды, приготовление кормов для животных);
              li
                span количество лиц, проживающих в помещении, газоснабжение которого необходимо обеспечить;
              li
                span размер (объем, площадь) жилых и нежилых отапливаемых помещений;
              li
                span вид и количество сельскохозяйственных животных и домашней птицы, содержащихся в личном подсобном хозяйстве (при наличии);
              li
                span состав газоиспользующего оборудования (при наличии);
              li
                span тип установленного прибора учета газа, место его присоединения к входящему в состав внутридомового газового оборудования газопроводу, дата опломбирования прибора учета газа заводом-изготовителем или организацией, осуществлявшей последнюю поверку прибора учета газа (далее — поверка), а также установленный срок проведения очередной поверки (при наличии такого прибора);
              li
                span меры социальной поддержки по оплате газа, предоставленные в соответствии с законодательством Российской Федерации гражданам, проживающим в помещении, газоснабжение которого необходимо обеспечить (в случае предоставления таких мер);
              li
                span реквизиты акта об определении границ раздела собственности.
          li
            span копия основного документа, удостоверяющего личность;
          li
            span документы, подтверждающие право собственности заявителя в отношении помещений, газоснабжение которых необходимо обеспечить, или иные основания пользования этими помещениями;
          li
            span документы, подтверждающие размеры общей площади жилых помещений в многоквартирном доме, площади нежилых отапливаемых помещений, относящихся к общему имуществу многоквартирного дома — для многоквартирных домов;
          li
            span документы, подтверждающие размеры общей площади жилых и отапливаемых вспомогательных помещений жилого дома, а также размер (объем) отапливаемых помещений надворных построек — для индивидуальных домовладений;
          li
            span документы, подтверждающие количество лиц, проживающих в жилых помещениях многоквартирных домов и жилых домов;
          li
            span документы, подтверждающие вид и количество сельскохозяйственных животных и домашней птицы, содержащихся в личном подсобном хозяйстве, или их отсутствие — для индивидуального домовладения;
          li
            span документы, подтверждающие состав и тип газоиспользующего оборудования, входящего в состав внутридомового газового оборудования, и соответствие этого оборудования установленным для него техническим требованиям;
          li
            span документы, подтверждающие тип установленного прибора (узла) учета газа, место его присоединения к газопроводу, дату опломбирования прибора учета газа заводом-изготовителем или организацией, осуществлявшей его последнюю поверку, а также установленный срок проведения очередной поверки (при наличии такого прибора);
          li
            span копия договора о техническом обслуживании внутридомового газового оборудования и аварийно-диспетчерском обеспечении;
          li
            span документы, подтверждающие предоставление гражданам, проживающим в помещении, газоснабжение которого необходимо обеспечить, мер социальной поддержки по оплате газа (в случае предоставления таких мер);
          li
            span копия акта об определении границ раздела собственности.







