extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link Населению
        a(href="").breadcrumbs__link Порядок расчетов за газ
        a(href="").breadcrumbs__link.breadcrumbs__link--active Начисление пени

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li
            a(href="").sidebar__link.sidebar__link--active Населению
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li: a(href="").sidebar__link Порядок заключения договоров
              li
                a(href="").sidebar__link.sidebar__link--active Порядок расчетов за газ
                ul
                  li: a(href="").sidebar__link Территориальные коды лицевых счетов
                  li: a(href="").sidebar__link Образцы заполненных квитанций
                  li: a(href="").sidebar__link.sidebar__link--active Начисление пени
              li: a(href="").sidebar__link Порядок ограничения поставок газа
              li: a(href="").sidebar__link Договор ТО ВДГО
              li: a(href="").sidebar__link Согласие на обработку персональных данных
          li: a(href="").sidebar__link Газ для новичков
          li: a(href="").sidebar__link Учет газа
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Начисление пени
        h3.h3 Вниманию потребителей ООО «Газпром межрегионгаз Краснодар»! Увеличение пени за неоплату потребленного газа!
        p С 01 января 2016 года лица (абоненты), несвоевременно и (или) не полностью внесшие плату за жилое помещение и коммунальные услуги, обязаны уплатить кредитору пени в размере одной трехсотой ставки рефинансирования Центрального банка Российской Федерации, действующей на день фактической оплаты, от не выплаченной в срок суммы за каждый день просрочки начиная с тридцать первого дня, следующего за днем наступления установленного срока оплаты, по день фактической оплаты, произведенной в течение девяноста календарных дней со дня наступления установленного срока оплаты, либо до истечения девяноста календарных дней после дня наступления установленного срока оплаты, если в девяностодневный срок оплата не произведена. Начиная с девяносто первого дня, следующего за днем наступления установленного срока оплаты, по день фактической оплаты пени уплачиваются в размере одной стотридцатой ставки рефинансирования Центрального банка Российской Федерации, действующей на день актической оплаты, от не выплаченной в срок суммы за каждый день просрочки.
        p Сумма пени рассчитывается, исходя из утвержденной ставки рефинансирования Центрального банка РФ, действующей на день фактической оплаты и суммы просрочки. С 01 января 2016 года значение ставки рефинансирования приравнено к значению ключевой ставки Банка России и составляет 11 % годовых. Исходя из этого пени с 01 января 2016 года:
        ul.ul-offset
          li
            span 13,38% годовых на сумму задолженности за просрочку от 31 до 90 дней;
          li
            span 30,88% годовых на сумму задолженности за просрочку от 91 до дня фактической оплаты.
        p Кроме того, в Кодексе Российской Федерации об административных правонарушениях внесены дополнительные нормы об установлении административной ответственности потребителя за нарушение правил ограничения подачи (поставки) и отбора газа (ст.9.22 кодекса), а именно:
          br
          | Нарушение потребителем газа введенного в отношении его полного или частичного ограничения режима потребления газа при сохранении обстоятельств, послуживших основанием для введения такого ограничения, либо невыполнение потребителем газа требования о самостоятельном ограничении режима потребления газа, предъявленного ему в соответствии с установленными законодательством о газоснабжении правилами ограничения подачи (поставки) и отбора газа.
          | В этом случае предусмотрена административная ответственность в виде наложения административного штрафа на должностных лиц в размере от десяти тысяч до ста тысяч рублей или дисквалификацию на срок от двух до трех лет; на юридических лиц - от ста тысяч до двухсот тысяч рублей.

        p.text-info Во избежание возникновения дополнительных расходов в виде пеней и штрафов настоятельно рекомендуем своевременно и в полном объеме оплачивать потребленный газ.
