extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link Учет газа
        a(href="").breadcrumbs__link.breadcrumbs__link--active Установка бытового газового счетчика

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li: a(href="").sidebar__link Населению
          li: a(href="").sidebar__link Газ для новичков
          li
            a(href="").sidebar__link.sidebar__link--active Учет газа
            ul
              li: a(href="").sidebar__link.sidebar__link--active Установка бытового газового счетчика
              li: a(href="").sidebar__link Проверка счетчиков газа
              li: a(href="").sidebar__link Температурный коэффициент
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Установка бытового газового счетчика
        p: strong Для установки в доме (квартире) газового счетчика необходимо:
        ol
          li
            span Обратиться в рай(гор)газ для получения технических условий и внесения изменений в проект газификации домовладения
            span Следует представить документы:
            ul
              li: span Паспорт заявителя - владельца объекта недвижимости (оригинал и копия - заполненные страницы);
              li: span свидетельство о государственной регистрации права собственности на объект недвижимости (свидетельство юстиции) или иные документы, подтверждающие право собственности заявителя на дом (квартиру) (оригинал и копия). При наличии сособственников объекта недвижимости (более одного собственника)- согласия всех сособственников;
              li: span технический паспорт на объект недвижимости (кроме квартир в типовых многоэтажных домах, оригинал и копия);
        p: strong Дополнительно в случае, если оформлением документов занимается не владелец дома (квартиры, а его представитель) для представителя:
        ul.ul-offset
          li: span паспорт (оригинал и копия) представителя заявителя - владельца объекта недвижимости;
          li: span доверенность, оформленная в установленном порядке на представление интересов заявителя-владельца объекта недвижимости (оригинал и копия);
        p: strong Дополнительно в случае, если оформлением документов занимается не владелец дома (квартиры, а его представитель) для представителя:
        ul.ul-offset
          li: span паспорт (оригинал и копия) представителя заявителя - владельца объекта недвижимости;
          li: span доверенность, оформленная в установленном порядке на представление интересов заявителя-владельца объекта недвижимости (оригинал и копия);
        ol
          li: span Приобрести счетчик на основании данных проекта газификации;
          li: span Провести установку счетчика. Монтажные работы должны выполняться работниками организации, с которой у Вас заключен договор технического обслуживания внутридомового газового оборудования;
          li: span Прием в эксплуатацию газового счетчика - работники рай(гор)газа составляют Акт законченного объекта газификации;
          li: span Обратиться в районный участок ООО «Газпром межрегионгаз Краснодар» с заявкой на пломбировку установленного счетчика. Учет и оплата газа по показаниям прибора учета газа будут вестись только после пломбировки газового счетчика.
        .file
          .file__icon
            img(src="img/pdf-file.png", alt="")
          .file__content
            a(href="" download).file__name Бланк квитанции
            .file__size (PDF, 774 КБ)






