extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link.breadcrumbs__link--active Газификация домовладения

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li: a(href="").sidebar__link Населению
          li: a(href="").sidebar__link Газ для новичков
          li: a(href="").sidebar__link Учет газа
          li: a(href="").sidebar__link.sidebar__link--active Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Газификация домовладения
        p Для того, чтобы подключить дом к системе газоснабжения Вашего поселка, Вам необходимо обратиться в специализированную газораспределительную организацию (гор-, райгаз) за проектом на газоснабжение и техническими условиями. После завершения технических работ, монтажа  внутридомового газового оборудования и заключения договора на его обслуживание, необходимо обратиться в районный участок ООО "Газпром межрегионгаз Краснодар" для заключения договора на поставку газа.
        p Если в Вашем населенном пунтке распределительный газопровод строился на деньги сознанного жителями кооператива, в который Вы по той или иной причине не вступали, то для газификации Вашего домовладения, как правило, Вам следует стать членом кооператива. Для этого необходимо согласие Правления кооператива по данному вопросу. Если возможность принять нового члена в кооперативе есть, данный вопрос выносится на Общее собрание, которое в свою очередь принимает решение, о принятии или непринятии гражданина. При принятии положительного решения гражданину предлагается оплатить вступительный взнос, размер которого устанавливается органами управления кооперативом.
        p Таким образом, вопрос регулирования отношений между Кооперативом и претендентами на членство в нем решается непосредственно между субъектами данных отношений.
        h3.h3 Порядок и условия заключения договоров поставки газа с населением
        i Установлен «Правилами поставки газа для обеспечения коммунально-бытовых нужд граждан», утвержденными Постановлением Правительства РФ от 21.07.2008 № 54
        p Для заключения договора поставки газа Вам необходимо:
        ol
          li: span Подготовить к эксплуатации внутридомовое газовое оборудование (газопровод, газоиспользующее оборудование, прибор учета газа) - сдать в эксплуатацию в горрайгаз;
          li: span Заключить договор на техническое обслуживание внутридомового дазового оборудования (заключается со специализированной газораспределительной организацией - горрайгазом);
          li: span Собрать документы, необходимые для заключения договора (см. Перечень документов);
          li: span Сдать на участок ООО "Газпром межрегионгаз Краснодар" по месту находжения помещения, газоснабжение которого необходимо обеспечить, оферту (заявление) в письменной форме в 2-х экз.
        .text-info
          p Договор заключается только с собственником жилого помещения, либо с лицом, действующем от его имени, на основании доверенности
          p Заявление (оферта) оформляется в 2-х экземплярах и регистрируется сотрудниками ООО «Газпром межрегионгаз Краснодар» в день поступления. Один экземпляр заявления остается в «Газпром межрегионгаз Краснодар», а другой возвращается заявителю с отметкой о дате принятия и представленных документов к рассмотрению.
          p Срок для проверки комплектности и правильности оформления представленных документов и достоверности содержащихся в них сведений - 1 месяц со дня регистрации заявления. Техническая возможность признается имеющейся, если на территории муниципального образования, где расположено помещение (жилой дом), газоснабжение которого необходимо обеспечить, имеется газораспределительная сеть, мощность которой позволяет газоснабжающей организации обеспечить подачу газа во исполнение всех заключенных ею договоров и к которой подключен газопровод, входящий в состав внутридомового газового оборудования заявителя.
        .inner__img
          img(src="img/gasification.jpg", alt="")
        p Договор с заявителем заключается в письменной форме на неопределенный срок. По желанию заявителя, изложенному в оферте, договор может быть заключен на указанный в ней срок.
        h3.h3 Перечень документов, необходимых для заключения договора
        ol
          li
            span Заявление физического лица на заключение договора (оферты). В заявлении следует указать:
            ul
              li: span паспортные данные
              li: span тип помещения, газоснабжение которого необходимо обеспечить (многоквартирный дом, жилой дом, надворные постройки индивидуального домовладения);
              li: span виды потребления газа (приготовление пищи, отопление, в том числе нежилых помещений, подогрев воды, приготовление кормов для животных);
              li: span количество лиц, проживающих в помещении, газоснабжение которого необходимо обеспечить;
              li: span площадь жилых и нежилых отапливаемых помещений;
              li: span вид и количество сельскохозяйственных животных и домашней птицы, содержащихся в личном подсобном хозяйстве (при наличии);
              li: span перечень газоиспользующего оборудования;
              li: span тип установленного прибора учета газа, место его присоединения к входящему в состав внутридомового газового оборудования газопроводу, дата опломбирования прибора учета газа заводом-изготовителем или организацией, осуществлявшей последнюю поверку прибора учета газа (далее - поверка), а также установленный срок проведения очередной поверки;
              li: span меры социальной поддержки по оплате газа, предоставленные в соответствии с законодательством Российской Федерации гражданам, проживающим в помещении, газоснабжение которого необходимо обеспечить (в случае предоставления таких мер);
              li: span реквизиты акта об определении границ раздела собственности на газопроводе.

          li
            span Документы, подтверждающие указанные в заявлении сведения:
            ul
              li: span копия паспорта;
              li: span документ о праве собственности на дом или квартиру;
              li: span технический паспорт дома (для индивидуальных домовладений);
              li: span домовая книга или выписка из лицевого счета квартиросъемщика;
              li: span проект на газификацию дома (для индивидуальных домовладений);
              li: span паспорт счетчика газа;
              li: span копия договора о техническом обслуживании внутридомового газового оборудования и аварийно-диспетчерском обеспечении, заключенного со специализированной организацией (как правило - горрайгазом);
              li: span документы, подтверждающие предоставление гражданам, проживающим в помещении, газоснабжение которого необходимо обеспечить, мер социальной поддержки по оплате газа (в случае предоставления таких мер);
              li: span копия акта об определении границ собственности на газопроводе (выдает горрайгаз).
          li
            span Переоформление и расторжение договоров
            p После вступления в силу Постановления Правительства РФ № 549 от 21.07.2008 г. существенно изменились условия договора поставки газа, расширены права абонента. В связи с этим ООО «Газпром межрегионгаз Краснодар» рекомендует абонентам перезаключить договор поставки газа. Сделать это можно в офисах участков  по работе с потребителями газа в муниципальных образованиях края. Для перезаключения договора гражданину, на чье имя был заключен договор в предыдущей редакции, необходимо представить документ, удостоверяющий личность (паспорт).
            p Изменение договора, в том числе изменение вида потребления газа, оформляется путем заключения в письменной форме дополнительного соглашения к договору.
            p Абонент вправе в любое время расторгнуть договор в одностороннем порядке при условии, если он полностью оплатил поставщику газа потребленный газ и расходы, связанные с проведением работ по отключению внутридомового газового оборудования от газораспределительной (присоединенной) сети. Договор признается расторгнутым со дня отключения внутридомового газового оборудования от газораспределительной (присоединенной) сети, что подтверждается актом об отключении, подписываемым сторонами с обязательным указанием даты отключения.
            span Документы, подтверждающие указанные в заявлении сведения:
            ul
              li: span Вы отказываетесь допускать его представителей (сотрудников ООО «Газпром межрегионгаз Краснодар») для проведения проверки;
              li: span вы в течение 3 месяцев не оплачиваете или оплачиваете не полностью потребленный газ;
              li: span вы используете газовые приборы, не соответствующие тем, которые указанны в договоре;
              li: span вы используете газовые приборы не по назначению, с нарушением нормативных требований;
              li: span у Вас нет договора о техническом обслуживании внутридомового газового оборудования и аварийно-диспетчерском обеспечении, заключенного со специализированной организацией;
              li: span техническое состояние газовых приборов или газопровода-ввода по заключению специализированной организации, с которой абонент заключил договор о техническом обслуживании, создает угрозу возникновения аварии.

        p Если Вы в течение 3-х месяцев со дня приостановления подачи газа не приняли мер по устранению причин, послуживших основанием для приостановления поставки газа, договор может быть расторгнут в судебном порядке по иску поставщика газа.
        p Договор поставки газа может быть расторгнут по взаимному согласию сторон с даты, определенной сторонами. 










      