extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link Населению
        a(href="").breadcrumbs__link.breadcrumbs__link--active Договор ТО ВДГО

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li
            a(href="").sidebar__link.sidebar__link--active Населению
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li: a(href="").sidebar__link Порядок заключения договоров
              li: a(href="").sidebar__link Порядок расчетов за газ
              li: a(href="").sidebar__link Порядок ограничения поставок газа
              li: a(href="").sidebar__link Договор ТО ВДГО
              li: a(href="").sidebar__link Согласие на обработку персональных данных
          li: a(href="").sidebar__link Газ для новичков
          li: a(href="").sidebar__link Учет газа
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Населению
        p
          strong Газпромбанк 
          | — один из ведущих банков России по работе с физическими лицами. В общей сложности услугами Банка пользуется свыше 3 миллионов жителей России. Для физических лиц Газпромбанк предлагает комплексное финансовое обслуживание — наши клиенты могут управлять своими сбережениями и приумножать их, используя самые передовые технологии работы.
        p Клиенты Банка могут внести средства во вклады, получить кредит, совершать расчетные операции, пользоваться всеми преимуществами банковских карт и заниматься инвестированием на фондовом рынке.
        p Надежность Газпромбанка подтверждена высокими рейтингами, присвоенными Банку ведущими международными рейтинговыми агентствами. Работая с одним из лидеров российской банковской системы, вы получаете современный, надежный и удобный банковский сервис.







