extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Физическим лицам
        a(href="").breadcrumbs__link Населению
        a(href="").breadcrumbs__link.breadcrumbs__link--active Порядок ограничения поставок газа

  .inner.grid.grid--container
    .row
      .col.col--md-4
        nav.sidebar
          li: a(href="").sidebar__link Сообщить показания счетчика
          li: a(href="").sidebar__link Платежные сервисы
          li: a(href="").sidebar__link Оформить электронную квитанцию
          li
            a(href="").sidebar__link.sidebar__link--active Населению
            ul
              li: a(href="").sidebar__link Цены и тарифы
              li: a(href="").sidebar__link Порядок заключения договоров
              li: a(href="").sidebar__link Порядок расчетов за газ
              li: a(href="").sidebar__link.sidebar__link--active Порядок ограничения поставок газа
              li: a(href="").sidebar__link Договор ТО ВДГО
              li: a(href="").sidebar__link Согласие на обработку персональных данных
          li: a(href="").sidebar__link Газ для новичков
          li: a(href="").sidebar__link Учет газа
          li: a(href="").sidebar__link Газификация домовладения
      .inner__block.col.col--md-8
        h1.h1 Порядок ограничения поставок газа
        p Поставщик газа вправе в одностороннем порядке приостановить исполнение обязательств по поставке газа с предварительным письменным уведомлением абонента в следующих случаях:
        ul.ul-offset
          li: span нарушение исполнения абонентом условий договора о предоставлении информации, без получения которой невозможно определить достоверный (фактический) объем потребленного газа;
          li: span отказ абонента допускать представителей поставщика газа для проведения проверки;
          li: span неоплата или неполная оплата потребленного газа в течение 3-х расчетных периодов подряд;
          li: span использование абонентом газоиспользующего оборудования, не соответствующего оборудованию, указанному в договоре;
          li: span поступление уведомления от организации, которая по договору с абонентом осуществляет техническое обслуживание внутридомового газового оборудования, об использовании абонентом газоиспользующего оборудования, не соответствующего предъявляемым к этому оборудованию нормативным требованиям;
          li: span отсутствие у абонента договора о техническом обслуживании внутридомового газового оборудования и аварийно-диспетчерском обеспечении, заключенного со специализированной организацией.
        p До приостановления исполнения договора поставщик газа обязан направить абоненту 2 (два) уведомления о предстоящем приостановлении подачи газа и его причинах. Направление первого уведомления о предстоящем приостановлении подачи газа осуществляется не позднее, чем за 40 календарных дней, а второго — не позднее, чем за 20 календарных дней до дня приостановления подачи газа.
        p Подача газа без предварительного уведомления абонента может быть приостановлена в следующих случаях:
        ul.ul-offset
          li: span авария в газораспределительной сети;
          li: span авария внутридомового газового оборудования или утечка газа из внутридомового газового оборудования;
          li: span техническое состояние внутридомового газового оборудования по заключению специализированной организации, с которой абонент заключил договор о техническом обслуживании указанного оборудования, создает угрозу возникновения аварии.
        p В случае устранения абонентом причин, послуживших основанием для приостановления подачи газа, поставка газа возобновляется при условии оплаты абонентом расходов, понесенных в связи с проведением работ по отключению и подключению газоиспользующего оборудования этого абонента. Расходы, понесенные в связи с проведением работ по отключению и последующему подключению внутридомового газового оборудования, оплачиваются поставщику газа, если иное не предусмотрено договором о техническом обслуживании внутридомового газового оборудования, заключенным абонентом со специализированной организацией. Срок возобновления поставки газа составляет 5 рабочих дней со дня получения поставщиком газа письменного уведомления об устранении абонентом причин, послуживших основанием для приостановления поставки газа.
        p Поставщик газа обязан без расторжения договора приостановить подачу газа по заявлению абонента на срок, указанный в заявлении, при условии оплаты абонентом расходов, понесенных в связи с проведением работ по отключению и последующему подключению газоиспользующего оборудования этого абонента. Расходы, понесенные в связи с проведением работ по отключению и последующему подключению внутридомового газового оборудования, оплачиваются поставщику газа, если иное не предусмотрено договором о техническом обслуживании внутридомового газового оборудования, заключенным абонентом со специализированной организацией.








