extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link.breadcrumbs__link--active Полезные ссылки


  .inner.grid.grid--container
    .inner__block
      h1.h1 Полезные ссылки
      .special-link
        a(href="").special-link__link ОАО «Газпром»
        .special-link__icon
      .special-link
        a(href="").special-link__link Сообщество в Facebook
        .special-link__icon
      .special-link
        a(href="").special-link__link «Газпром» в вопросах и ответах
        .special-link__icon
      .special-link
        a(href="").special-link__link Ответы на вопросы о Газпроме и о том, что с ним связано
        .special-link__icon
      .special-link
        a(href="").special-link__link ООО «Газпром межрегионгаз»
        .special-link__icon
      .special-link
        a(href="").special-link__link ОАО «Краснодаркрайгаз»
        .special-link__icon
      .special-link
        a(href="").special-link__link Корпоративная ассоциация «Газпром на Кубани»
        .special-link__icon
      .special-link
        a(href="").special-link__link Фотоконкурс «Моя компания»
        .special-link__icon
      .special-link
        a(href="").special-link__link Информационный портал для детей «Изучаем природный газ»
        .special-link__icon
          