extends layout-lk.pug

block content

  .inner.grid.grid--container
    .lk-container
      .row
        .col.col--md-4
          nav.sidebar
            li: a(href="").sidebar__link.sidebar__link--active Лицевые счета и оплата
            li: a(href="").sidebar__link Сообщить показания
            li: a(href="").sidebar__link Сформировать электронную квитанцию
            li: a(href="").sidebar__link Статистика
            li: a(href="").sidebar__link Информация
          a(href="").btn.btn--solid Настройки
        .inner__block.col.col--md-8
          h1.h1 Лицевые счета и оплата
          p.text-info Обратите внимание, данные обновляются раз в 2 недели
          .big-offset
            .balance-block
              .balance-block__top
                .balance-block__location Ул. Победы 15, кв.10
                .balance-block__number Л/с №5124161250
              .balance-block__last Последние принятые показания: 000451
              .balance-block__summ Баланс: 58.50 руб.
            table.table
              thead
                th Начисление
                th Сумма, руб
                th Статус
              tbody
                tr
                  td Январь
                  td 194.76
                  td Оплачено

            a(href="").btn Перейти к оплате
          
          .big-offset
            .balance-block
              .balance-block__top
                .balance-block__location Дача
                .balance-block__number Л/с №5124161250
              .balance-block__last Последние принятые показания: 000451
              .balance-block__summ Баланс: - 178.50 руб.
            table.table
              thead
                th Начисление
                th Сумма, руб
                th Статус
              tbody
                tr
                  td Январь
                  td 194.76
                  td Оплачено
            .offset-left
              .row
                .col.col--sm-6
                  .radio
                    input(type="radio" id="1" name="radio")
                    label(for="1").radio__label
                    label.radio__text(for="1")
                      img(src="img/lk-1.png", alt="")
                .col.col--sm-6
                  .radio
                    input(type="radio" id="2" name="radio")
                    label(for="2").radio__label
                    label.radio__text(for="2")
                      img(src="img/lk-2.png", alt="")
              a(href="#payment").link.modal-open Другие способы оплаты
            .summ
              .form-control
                input(type="number")
                label Сумма к оплате
              .btn Оплатить
          
  #payment.modal
    .inner__block
      .modal__title.h1 Способы оплаты
      h3.h3 Реквизиты для оплаты газа
      p Корр. счет: 30101810100000000602
        br
        | ИНН: 2308070396 ООО
        br
        |
        br
        | Р/С 40702810630020102442
        br
        | БИК: 040349602
      p Потребитель имеет право платить как наличными деньгами, так и безналичным способом.
      h3.h3 Платежи без комиссии принимаются
      ul
        li: span В офисах районных участков «Газпром межрегионгаз Краснодар»
        li
          span В офисах агентов поставщика:
          .row.services
            - for (var i = 1; i < 7; i ++)
              .col.col--lg-3
                a(href="").service
                  img(src="img/services/" + i + ".jpg", alt="")
            li
              span Через терминалы самообслуживания:
              .row.services
                - for (var i = 7; i < 10; i ++)
                  .col.col--lg-3
                    a(href="").service
                      img(src="img/services/" + i + ".jpg", alt="")
            li
              span Через интернет-сервисы:
              .row.services
                - for (var i = 10; i < 12; i ++)
                  .col.col--lg-3
                    a(href="").service
                      img(src="img/services/" + i + ".jpg", alt="")
            li
              span Через банкоматы:
              .row.services
                - for (var i = 12; i < 18; i ++)
                  .col.col--lg-3
                    a(href="").service
                      img(src="img/services/" + i + ".jpg", alt="")
      .inner__block
        p.text-info Обращаем внимание абонентов, что при оплате необходимо указывать полный 12-значный лицевой счет. Электронные системы платежей сокращенные лицевые счета не принимают!
        h4.h4 Будьте внимательны!
        p Если при оплате через терминал или интернет-сервис Вы не заполняете форму "Текущие и Предыдущие показания счетчика" (форма отсутствует в некоторых сервисах), Вам обязательно необходимо передать в «Газпром межрегионгаз Краснодар» показания любым удобным способом (по телефону, через наш сайт и т.д.)





