extends layout-lk.pug

block content

  .inner.grid.grid--container
    .lk-container
      .row
        .col.col--md-4
          nav.sidebar
            li: a(href="").sidebar__link Лицевые счета и оплата
            li: a(href="").sidebar__link Сообщить показания
            li: a(href="").sidebar__link Сформировать электронную квитанцию
            li: a(href="").sidebar__link Статистика
            li: a(href="").sidebar__link.sidebar__link--active Информация
          a(href="").btn.btn--solid Настройки
        .inner__block.col.col--md-8
          h1.h1 Информация
          p «Личный кабинет абонента» — это информационная система, позволяющая отслеживать состояние баланса лицевого счета, получать информацию о произведенных начислениях и произведенных платежах, сообщенных показаниях прибора учета газа и многом другом.
          p Дистанционность и функциональность – главные принципы работы нового сервиса. Именно их отмечают те пользователи, которые уже успели обзавестись своим «Личным кабинетом» на сайте региональной газовой компании.
          p Чтобы присоединиться к ним, необходимо пройти стандартную процедуру регистрации (см. инструкцию внизу) и, получив логин и пароль, открыть доступ к своей персональной странице.
          p «Личный кабинет» состоит из нескольких разделов. В «Истории начислений» и «Истории платежей» отображены все произведенные абоненту начисления за услугу газоснабжения и осуществленные им платежи с разбивкой по годам и месяцам. В разделе «Показания счетчика для начислений» содержится аналогичная история сообщенных абонентом показаний прибора учета газа (при его наличии), по которым производилось начисление.
          p В скомпилированном виде информация всех разделов за текущий год представлена на главной странице «Личного кабинета», которая называется «Состояние лицевого счета». Теперь отслеживать его состояние, проверять наличие задолженности можно в любой удобный момент – главное, чтобы под рукой был компьютер с доступом в Интернет.




