extends layout-lk.pug

block content

  .inner.grid.grid--container
    .inner__block
      .row
        .col.col--lg-8.col.col--lg-offset-2
          form.form.lk-form
            .form__title Восстановление пароля
            .form__subtitle Введите адрес почты, который использовали для регистрации, и мы отправим вам пароль
            .form-control
              input(type="email")
              label E-mail
            .form__footer
              .form__footer-left
                a(href="").btn Восстановить
              .form__footer-right
                a(href="").link.link--small.uppercase Я вспомнил пароль


