extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link.breadcrumbs__link--active На Кубани началось массовое отключение должников за газ


  .inner.grid.grid--container
    .row
      .inner__block
        h1.h1 На Кубани началось массовое отключение должников за газ
        p Полмиллиона кубанцев попали в черный список неплательщиков. И в самое ближайшее время им обрежут газ. Ждать, пока должники образумятся сами, основной поставщик «голубого топлива» на Кубани — «Газпром межрегионгаз Краснодар» больше не будет.
        p Жители края задолжали компании астрономическую сумму — полтора миллиарда рублей. И нерадивые потребители продолжают всячески игнорировать уведомления об отключении. Три с половиной тысячи домов уже ощутили как это — жить без привычного газа. Это в два раза больше, чем в прошлом году. И цифра будет только расти. Газовики настроены серьезно. И закон на их стороне. Нет оплаты — нет газа.
        p В настоящее время нашей компанией организованы массовые мероприятия по отключению должников. Время убеждений, уговоров прошло, поэтому будут предприняты максимально жесткие меры по отключению неплательщиков до погашения всей задолженности, — прокомментировал Юрий Жиров, начальник отдела по реализации газа населению ООО» Газпром межрегионгаз Краснодар».
        p Добавим, чтобы вернуть «голубое топливо» задолжникам придется не только погасить долг и пеню. Но и оплатить работы по отключению и подключению газа.

        a(href="").btn
          i.btn__icon
            i.fa.fa-angle-left
          span Все публикаци


