extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link.breadcrumbs__link--active Публикации в СМИ


  .inner.grid.grid--container
    .row
      .inner__block
        h1.h1 Новости
        .link-block
          a(href="").link-block__link.link-block__link--active 2017
          a(href="").link-block__link 2016
          a(href="").link-block__link 2015
          a(href="").link-block__link 2014
          a(href="").link-block__link 2013
          a(href="").link-block__link 2012
          a(href="").link-block__link 2011
          a(href="").link-block__link 2010
          a(href="").link-block__link 2009

        .news
          .new
            a(href="").massmedia
              img(src="/img/ria_logo.png", alt="" title="sdf")
            .date
              .date__number 31
              .date__month марта
            .new__container
              a(href="").new__title Динамика роста просроченной задолженности российских потребителей за газ снижается
              .new__anons Совет директоров ПАО «Газпром» рассмотрел информацию об укреплении платежной дисциплины при поставках газа на внутренний рынок и принимаемых компанией мерах по погашению задолженности за поставленный газ.

          .new
            a(href="").massmedia
              img(src="/img/massMedia-logo.png", alt="" title="Комсомольска правда")
            .date
              .date__number 22
              .date__month марта
            .new__container
              a(href="").new__title Похитители газа в Краснодарском крае добровольно возместили ООО «Газпром межрегионгаз Краснодар» две трети причиненного ущерба
              .new__anons Совет директоров ПАО «Газпром» рассмотрел информацию об укреплении платежной дисциплины при поставках газа на внутренний рынок и принимаемых компанией мерах по погашению задолженности за поставленный газ.

          .new
            a(href="").massmedia
              img(src="/img/mmLogo2.png", alt="" title="sdf")
            .date
              .date__number 16
              .date__month марта
            .new__container
              a(href="").new__title Предприятия теплоэнергетики Краснодарского края в разгар отопительного сезона увеличили свои долги поставщикам за газ на более чем полмиллиарда рублей
              .new__anons Наибольший прирост задолженность приходится на АО «АТЭК», который увеличил свои долги перед ООО «Газпром межрегионгаз Краснодар» на 55 процентов.

          .new
            a(href="").massmedia
              img(src="/img/aifru.png", alt="" title="sdf")
            .date
              .date__number 4
              .date__month марта
            .new__container
              a(href="").new__title Четверть долгов за газ жителей Краснодарского края приходится на Сочи
              .new__anons По данным специалистов ООО «Газпром межрегионгаз Краснодар» наибольшая просроченная задолженность за газ на Кубани приходится на жителей олимпийской столицы: сочинцы сформировали по итогам прошедшего года более 25% долгов абонентов или 216 млн рублей.

          .new
            a(href="").massmedia
              img(src="/img/b-logo3.png", alt="" title="sdf")
            .date
              .date__number 27
              .date__month февраля
            .new__container
              a(href="").new__title Динамика роста просроченной задолженности российских потребителей за газ снижается
              .new__anons Совет директоров ПАО «Газпром» рассмотрел информацию об укреплении платежной дисциплины при поставках газа на внутренний рынок и принимаемых компанией мерах по погашению задолженности за поставленный газ.


        .row
          .col.col--sm-offset-2
            a(href="").btn
              span Следующая страница
              i.btn__icon
                i.fa.fa-angle-right
            .pagination
              a(href="").pagination__link.pagination__link--active
                span 1
              a(href="").pagination__link 2
              a(href="").pagination__link 3
              a(href="").pagination__link 4
              a(href="").pagination__link 5
              a(href="").pagination__link &hellip;
              a(href="").pagination__link 10



