extends layout.pug

block content
  .breadcrumbs
    .grid.grid--container
      nav.breadcrumbs__nav
        a(href="").breadcrumbs__link Главная
        a(href="").breadcrumbs__link Новости
        a(href="").breadcrumbs__link.breadcrumbs__link--active Динамика роста просроченной задолженности российских потребителей за газ снижается


  .inner.grid.grid--container
    .inner__block
      h1.h1 Динамика роста просроченной задолженности российских потребителей за газ снижается
      date 22 марта
      p Совет директоров ПАО «Газпром» рассмотрел информацию об укреплении платежной дисциплины при поставках газа на внутренний рынок и принимаемых компанией мерах по погашению задолженности за поставленный газ.
      p Было отмечено, что в 2016 году, как и в предыдущие годы, «Газпром» полностью выполнил обязательства по обеспечению надежного газоснабжения отечественных потребителей.
      p Вместе с тем, актуальной проблемой остается высокий уровень просроченной задолженности российских потребителей перед «Газпромом» за поставленный газ. В 2016 году она выросла примерно на 6% и на 1 января 2017 года составила 161 млрд руб. Более 83% задолженности сформировано теплоснабжающими организациями, населением и предприятиями электроэнергетики.
      p «Газпром» реализует комплекс мер, направленных на повышение платежной дисциплины. В 2016 году результатом этой работы стало существенное сокращение темпов прироста просроченной задолженности по сравнению с 2015 годом, когда этот показатель составлял порядка 19%.
      p Одной из наиболее эффективных мер стала претензионно-исковая работа. Так, в результате урегулирования споров с должниками в судебном порядке и переуступки прав требований по долгам компания в 2016 году вернула 94,7 млрд руб. — на 18,7% больше, чем годом ранее. Продолжилось взаимодействие с правоохранительными органами и Федеральной службой судебных приставов России. Общий объем возмещения, полученного «Газпромом» в прошлом году в результате совместной работы с судебными, правоохранительными и исполнительными органами власти, составил 146,3 млрд руб.
      p Для координации совместных усилий компании и российских регионов по улучшению ситуации с платежами «Газпром» в 2016 году подписал планы-графики погашения просроченной задолженности с 24 субъектами РФ. Просроченная задолженность по предприятиям, включенным в график, должна была снизиться на 10,9 млрд руб. Однако графики были выполнены только на 29%, снижение составило всего около 3 млрд руб.
      p На заседании было отмечено, что при определении объема инвестиций в газификацию регионов «Газпром» учитывает уровень платежной дисциплины и исполнение администрациями субъектов РФ обязательств по подготовке потребителей к приему газа.
      p «Газпром» совместно с министерствами, ведомствами и общественными организациями продолжает работу по совершенствованию российского законодательства в сфере расчетов потребителей за газ. В частности, компания принимала участие в подготовке предложений по внесению изменений в Федеральный закон «О газоснабжении в Российской Федерации» и в Жилищный кодекс РФ.
      p Совет директоров поручил Правлению продолжить работу, направленную на укрепление платежной дисциплины потребителей при поставках газа на внутренний рынок и погашение задолженности за поставленный газ.
      a(href="").btn
        i.btn__icon
          i.fa.fa-angle-left
        span Все новости


