<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="styles/css/milligram.css")
body
  .container
    h3 Навигация
    ul
      li: a(href="./index.html") Главная
    h3 Контакты
    ul
      li: a(href="./contacts.html") Контакты
      li: a(href="./contacts_company.html") Контакты для юрлиц
      li: a(href="./contacts_areas_map.html") Участки по работе с потребителями газа карта
      li: a(href="./contacts_areas_list.html") Участки по работе с потребителями газа список
