<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="styles/css/milligram.css")
body
  .container
    h3 Навигация
    ul
      li: a(href="./index.html") Главная
      li: a(href="./vacancy.html") Вакансии
      li: a(href="./qa.html") Вопрос-ответ
      li: a(href="./conference.html") Интернет конференция
      li: a(href="./news.html") Новости
      li: a(href="./new.html") Новость
      li: a(href="./ads.html") Объявления
      li: a(href="./search.html") Поиск
      li: a(href="./links.html") Полезные сслыки
      li: a(href="./massmedia.html") Публикации в СМИ
      li: a(href="./massmedia_more.html") Публикации в СМИ подробнее
    h3 Контакты
    ul
      li: a(href="./contacts.html") Контакты
      li: a(href="./contacts_company.html") Контакты для юрлиц
      li: a(href="./contacts_areas_map.html") Участки по работе с потребителями газа карта
      li: a(href="./contacts_areas_list.html") Участки по работе с потребителями газа список
    //- h3 Личный кабинет
    //- ul
    //-   li: a(href="./contacts.html") Контакты
    h3 О компании
    ul
      li: a(href="./about_documentation.html") Документация
      li: a(href="./about_info.html") О компании
      li: a(href="./about_team.html") Руководство
    h3 Физическим лицам
    li: a(href="./individual_indications.html") Сообщить показания счетчика
    li: a(href="./individual.html") Физическим лицам
    li: a(href="./individual_gasification.html") Газификация домовладения
    li: a(href="./individual_ticket.html") Оформить электронную квитанцию
    li: a(href="./individual_services.html") Платежные сервисы
    li: a(href="./individual_manual.html") Руководство для абонента
    h4 Населению
    ul
      li: a(href="./individual_people_order.html") Порядок заключения договоров
      li: a(href="./individual_people_document-to.html") Договор ТО ВДГО
      li: a(href="./individual_people.html") Населению
      li: a(href="./individual_people_limits.html") Порядок ограничения поставок газа
      li: a(href="./individual_people_agreement.html") Согласие на обработку персональных данных
      li: a(href="./individual_people_price.html") Цены и тарифы
    h6 Цены и тарифы
    ul
      li: a(href="./individual_people_price_dissolution.html") Переоформление и расторжение договоров
      li: a(href="./individual_people_price_list.html") Перечень документов
      li: a(href="./individual_people_price_passing.html") Порядок прохождения документации
    h6 Порядок расчетов за газ
    ul
      li: a(href="./individual_people_calculating.html") Порядок расчетов за газ
      li: a(href="./individual_people_calculating_fine.html") Начисление пени
      li: a(href="./individual_people_calculating_cods.html") Территориальные коды лицевых счетов
    h4 Учет газа
    ul
      li: a(href="./individual_stocktaking.html") Учет газа
      li: a(href="./individual_stocktaking_installation.html") Установка бытового газового счетчика
      li: a(href="./individual_stocktaking_test.html") Проверка счетчиков газа
      li: a(href="./individual_stocktaking_temperature.html") Температурный коэффициент
    //- h3 Юридическим лицам
    //- ul
    //-   li: a(href="./contacts.html") Контакты









