extends layout.pug

block content

  .inner.grid.grid--container
    .inner__block
      .big-offset
      h1.h1 Результаты поиска по запросу «Задолженность»

      .search-result Найдено 3 результата

      .search-item
        a(href="").search-item__title Динамика роста просроченной задолженности российских потребителей за газ снижается
        .search-item__text Совет директоров ПАО «Газпром» рассмотрел информацию об укреплении платежной дисциплины при поставках газа на внутренний рынок и принимаемых компанией мерах по погашению задолженности за поставленный газ.
      .search-item
        a(href="").search-item__title Четверть долгов за газ жителей Краснодарского края приходится на Сочи
        .search-item__text По данным специалистов ООО «Газпром межрегионгаз Краснодар» наибольшая просроченная задолженность за газ на Кубани приходится на жителей олимпийской столицы: сочинцы сформировали по итогам прошедшего года более 25% долгов абонентов или 216 млн рублей.
      .search-item
        a(href="").search-item__title Предприятия теплоэнергетики Краснодарского края в разгар отопительного сезона увеличили свои долги поставщикам за газ на более чем полмиллиарда рублей
        .search-item__text Наибольший прирост задолженность приходится на АО «АТЭК», который увеличил свои долги перед ООО «Газпром межрегионгаз Краснодар» на 55 процентов.

      a(href="").btn
        span Следующая страница
        i.btn__icon
          i.fa.fa-angle-right
      .pagination
        a(href="").pagination__link.pagination__link--active
          span 1
        a(href="").pagination__link 2
        a(href="").pagination__link 3
        a(href="").pagination__link 4
        a(href="").pagination__link 5
        a(href="").pagination__link &hellip;
        a(href="").pagination__link 10

