extends layout.pug

block content

  .inner.grid.grid--container
    .inner__block
      .big-offset
      h1.h1 Карта сайта
      .sitemap
        ul
          li: a(href="./index.html") Главная
          li: a(href="./vacancy.html") Вакансии
          li: a(href="./qa.html") Вопрос-ответ
          li: a(href="./conference.html") Интернет конференция
          li: a(href="./news.html") Новости
          li: a(href="./new.html") Новость
          li: a(href="./ads.html") Объявления
          li: a(href="./search.html") Поиск
          li: a(href="./links.html") Полезные сслыки
          li: a(href="./massmedia.html") Публикации в СМИ
          li: a(href="./massmedia_more.html") Публикации в СМИ подробнее
          li: a(href="./club.html") Клуб Газпром на Кубани
          li: a(href="./404.html") 404
        ul
          li: a(href="./contacts.html") Контакты
          li: a(href="./contacts_company.html") Контакты для юрлиц
          li: a(href="./contacts_areas_map.html") Участки по работе с потребителями газа карта
          li: a(href="./contacts_areas_list.html") Участки по работе с потребителями газа список
        ul
          li: a(href="./about_documentation.html") Документация
          li: a(href="./about_info.html") О компании
          li: a(href="./about_team.html") Руководство
          ul
            li: a(href="./individual_people_order.html") Порядок заключения договоров
            li: a(href="./individual_people_document-to.html") Договор ТО ВДГО
            li: a(href="./individual_people.html") Населению
            li: a(href="./individual_people_limits.html") Порядок ограничения поставок газа
            li: a(href="./individual_people_agreement.html") Согласие на обработку персональных данных
            li: a(href="./individual_people_price.html") Цены и тарифы
              ul
                li: a(href="./individual_people_price_dissolution.html") Переоформление и расторжение договоров
                li: a(href="./individual_people_price_list.html") Перечень документов
                li: a(href="./individual_people_price_passing.html") Порядок прохождения документации
        ul
          li: a(href="./individual_people_calculating.html") Порядок расчетов за газ
          li: a(href="./individual_people_calculating_fine.html") Начисление пени
          li: a(href="./individual_people_calculating_cods.html") Территориальные коды лицевых счетов
        ul
          li: a(href="./individual_stocktaking.html") Учет газа
          li: a(href="./individual_stocktaking_installation.html") Установка бытового газового счетчика
          li: a(href="./individual_stocktaking_test.html") Проверка счетчиков газа
          li: a(href="./individual_stocktaking_temperature.html") Температурный коэффициент
        ul
          li: a(href="./company.html") Юридическим лицам
        ul
          li: a(href="./company_sales_price.html") Цены и тарифы
          li: a(href="./company_sales.html") Реализация газа
          li: a(href="./company_sales_automatisation.html") Автоматизированная система коммерческого учета газа
          li: a(href="./company_sales_cashback.html") Возврат денежных средств
          li: a(href="./company_sales_credits.html") Перечень кредитных организаций
          li: a(href="./company_sales_order.html") Порядок ограничения поставок газа
          li: a(href="./company_sales_agreement.html") Согласование расчетных объемов поставки газа
        ul
          li: a(href="./company_sales_order_db.html") Законодательная база
          li: a(href="./company_sales_order_documents.html") Порядок заключения договоров
          li: a(href="./company_sales_order_samples.html") Образцы документов
        ul
          li: a(href="./company_gasification.html") Газификация
          li: a(href="./company_gasification_gasification.html") Газификация населенных пунктов
        ul
          li: a(href="./company_tenders.html") Тендеры
          li: a(href="./company_tenders_archive.html") Архив
          li: a(href="./company_tenders_plan.html") Годовой план
          li: a(href="./company_tenders_procurement.html") Закупки
          li: a(href="./company_tenders_report.html") Отчеты
          li: a(href="./company_tenders_position.html") Положение о закупочной деятельности


