.small-offset
  margin-bottom 2rem

.big-offset
  margin-bottom 6rem !important

.without-margin
  margin 0

.offset-left
  margin-left 3.1rem

.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right