.breadcrumbs
  border-bottom $border
  margin-bottom 6rem
  padding 1.2rem 0
  &__link
    color $gray
    font-size 1.4rem
    position relative
    line-height 1
    margin-right 3.2rem
    text-decoration none
    text-transform uppercase
    &:after
      content '\f105'
      font-family FontAwesome
      position absolute
      right -1.6rem
      top 1px
    &--active
      font-weight 500
      &:after
        display none
    &:hover
      color $primary
      &:after
        color $gray

.inner
  margin-bottom 10rem
  &__img
    margin-bottom 4rem
    img
      max-width 100%

.sidebar
  border $border
  border-radius $radius
  padding 0
  & > li:last-child
    .sidebar__link
      border-bottom none
  &__link
    border-bottom $border
    color $main
    display block
    font-size 1.4rem
    line-height $line-height
    padding 1.2rem 0
    padding-left 2rem
    padding-right 2rem
    text-decoration none
    &:hover
      color $primary
    &--active
      background-color #f1f5f8
      color $primary
      &:hover
        color $primary
  ul
    list-style-type none
    margin 0
    padding 0
    .sidebar__link
      padding-left 4rem
    ul
      .sidebar__link
        padding-left 6rem

.tab-links
  font-size 0
  margin-bottom 4rem
  .item
    border-bottom 2px solid $light-gray
    display inline-block
    padding 0 1.2rem
    transition border-color .2s
    img
      margin-bottom .8rem
    &:hover:not(.item--active)
      border-color rgba($primary, .3)
    &--active
      border-color $primary

.svg-map
  margin-bottom 2rem
  svg
    height 50rem
    width 100%
    
.alphabet
  display flex
  justify-content space-between
  margin-bottom 4rem
  &__link
    color $main
    font-size 2.2rem
    text-decoration none
    &:hover
      color $primary

.region-slider-container
  padding 0 2.5rem
  
.region-slider
  margin-bottom 6rem
  position relative
  &:before,
  &:after
    // background linear-gradient(to left, red, rgba(#fff, 0))
    background url('../../img/white-shadow.png')
    content ''
    position absolute
    size(2rem, 3rem)
    top 0
    z-index 50
  &:before
    left -1.5rem
    transform rotate(180deg)
  &:after
    right -1.5rem
  .slick-slide
    text-align center
  &__link
    color $main
    display inline-block
    border-bottom 1px solid rgba($main, .2)
    text-decoration none
    &--active,
    &:hover
      color $primary
      border-color rgba($primary, .2)


.file
  align-items flex-start
  display flex
  margin-bottom 3rem
  &__icon
    margin-right 2rem
    transform translateY(.8rem)
  &__name
    color $primary
    border-bottom 1px solid rgba($primary, .2)
    display inline
    font-weight 300
    line-height $line-height
    text-decoration none
  &__size
    color $gray
    font-weight 300
    margin-top 1rem

.team-list
  .team
    display flex
    margin-bottom 4rem
    &__img
      img
        display block
    &__container
      margin-left 3rem
      padding-top 2rem
    &__name
      color $primary
      font-size 2.2rem
      margin-bottom 2rem
    &__role
      font-weight 300
      line-height $line-height


@media(max-width 767px)
  .sidebar
    margin-bottom 6rem

@media(max-width 500px)
  .team-list
    .team
      flex-direction column
      &__container
        margin 0



