.lk-background
  background #151e50 url('../../img/lk.jpg') no-repeat
  background-size cover
  padding-top 6rem
  .inner
    margin-bottom 0
    padding-bottom 10rem
  .main-footer
    border none
    color rgba(#fff, .5)
    &__link
      a
        color rgba(#fff, .5)
    .main-footer__links--type-1 .main-footer__link a
      border-color rgba(#fff, .2)
    &__bottom
      .grid--container
        border-color rgba(#e6ecf2, .5)

.lk-container
  background-color #fff
  border-radius $radius
  margin 0 -11rem
  padding 6rem 11rem

.lk-form
  background-color #fff
  border-radius $radius
  padding 6rem 12rem

.form
  &__title
    font-size 3.8rem
    margin-bottom 3.5rem
  &__subtitle
    line-height 1.6
    margin-bottom 2rem
  &__footer
    align-items center
    display flex
    justify-content space-between
    &-left
      width 50%
    &-right
      text-align right


.balance-block
  background-color $light-gray
  padding 4rem 3.1rem
  &__top
    margin-bottom 3rem
  &__location
    display inline-block
    margin-right 2rem
  &__number
    display inline-block
  &__last
    font-size 2.2rem
    margin-bottom 1rem
  &__summ
    font-size 2.2rem

.summ
  display flex
  margin-top 4rem
  .form-control
    margin-right 3rem
    width 100%

@media(max-width 1400px)
  .lk-container
    margin 0 !important
    padding 3rem 4rem !important

@media(max-width 1200px)
  // .lk-background
  //   padding-top 0
  .lk-form
    padding 3rem 6rem

@media(max-width 500px)
  .lk-form
    padding 3rem 2rem
  .form
    &__title
      font-size 2.4rem
    &__footer
      align-items initial
      flex-wrap wrap
      flex-wrap wrap
      justify-content initial
      &-left
        margin-bottom 2rem
        margin-right 2rem
        width initial
      &-right
        text-align left
  .lk-container
    margin 0 !important
    padding 3rem 1rem !important
  .summ
    flex-wrap wrap
