.lk-background
  background #151e50 url('../../img/lk.jpg') no-repeat
  background-size cover
  padding-top 6rem
  .main-footer
    border-color rgba(#e6ecf2, .5)
    color rgba(#fff, .5)
    &__link
      a
        color rgba(#fff, .5)
    &__bottom
      .grid--container
        border-color rgba(#e6ecf2, .5)

.lk-container
  background-color #fff
  margin 0 -11rem
  padding 6rem 11rem

.lk-form
  background-color #fff
  border-radius $radius
  padding 6rem 12rem

.form
  &__title
    font-size 3.8rem
    margin-bottom 3.5rem
  &__subtitle
    line-height 1.6
    margin-bottom 2rem
  &__footer
    align-items center
    display flex
    justify-content space-between
    &-left
      width 50%
    &-right
      text-align right


.balance-block
  background-color $light-gray
  padding 4rem 3.1rem
  &__top
    margin-bottom 3rem
  &__location
    display inline-block
    margin-right 2rem
  &__number
    display inline-block
  &__last
    font-size 2.2rem
    margin-bottom 1rem
  &__summ
    font-size 2.2rem

.summ
  display flex
  margin-top 4rem
  .form-control
    margin-right 3rem
    width 100%

