.slick
  &-prev,
  &-next
    top 50%
    &:before
      font-size 2.4rem
      color #fff
      transition color .2s
  &-prev
    left -3rem
    &:before
      content '\f104'
      font-family 'FontAwesome'
  &-next
    right -3rem
    &:before
      content '\f105'
      font-family 'FontAwesome'

.hero
  .slick-dotted.slick-slider
    margin-bottom 0
  .slick
    &-dots
      bottom 3rem
      li
        button
          &:before
            border 1px solid #fff
            border-radius 50%
            circle(1.6rem)
            content ''
            opacity 1
        &.slick-active
          button
            &:before
              background-color #fff
          

.inner-text-slider
  .slick
    &-prev,
    &-next
      top 35%
      &:before
        color $primary
    &-prev
      left -3rem
    &-next
      right -3rem

.actual
  &-slider
    margin 0 -1rem
    img
      width 100%
  .slide
    &__img
      padding 0 1rem
  .slick
    &-prev,
    &-next
      height 4rem


.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  background-color $primary !important

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
  background-color $primary !important

